<div class="mainContent content">

    <h6>Microsoft</h6>
    <div class="p-1"></div>
    <div class="card mb-3" style="border-bottom: none;">
        <div class="row no-gutters">
            <div class="col-md-1" style="display: flex; align-items: center;">
                <img src="../../../assets/images/windows.svg" class="card-img b-avatar-img" alt="avatar"
                    style="width: 100px;">
            </div>
            <div class="col-md-11">
                <div class="card-body">
                    <div class="action-btns card-title" style="text-align: right;">
                        <a class="button" (click)="open(mymodal)"><i class="fas fa-pencil-alt"></i></a>
                        <a href="javascript:void(0)" title="Delete"><i class="far fa-trash-alt"></i></a>
                    </div>
                    <p class="card-text" style="font-size: 15px;">This is a wider card with supporting text below as a
                        natural lead-in to
                        additional content. This content is a little bit longer. This is a wider card with supporting
                        text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="p-2"></div>
    <div class="gridActionsGroup mb-2">
        <div class="actionsWrap" style="margin-left: 0; width: 100%;">
            <h6 class="content-label">Channels</h6>
            <a (click)="open(addChannel)" class="pluschannel" style="margin-left: auto;"><i class="fas fa-plus-circle"></i> Channel</a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-1" style="display: flex; align-items: center;">
                <img src="../../../assets/images/Excel.jpg" class="card-img b-avatar-img" alt="avatar"
                    style="width: 50px;">
            </div>
            <div class="col-md-11">
                <div class="card-body">
                    <div class="card-title d-flex">
                        <h6><b>MS Excel 2010</b></h6>
                        <div class="action-btns d-flex text-right ms-auto">
                            <a class="btn btn-outline-danger" title="Select" style="margin-right: 15px; height: 22px;">Select</a>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                            </div>
                            <a title="Alert"><i class="fa fa-exclamation-triangle"></i></a>
                            <a title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            <a href="javascript:void(0)" title="Delete"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </div>
                    <p class="card-text" style="font-size: 15px;">This is a wider card with supporting text below as a
                        natural lead-in to
                        additional content. This content is a little bit longer. This is a wider card with supporting
                        text below as a natural lead-in to
                        additional content. This content is a little bit longer. This is a wider card with supporting
                        text below as a natural lead-in to
                        additional content. This content is a little bit longer. This is a wider card with supporting
                        text below as a natural lead-in to
                        additional content. This content is a little bit longer. This is a wider card with supporting
                        text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <div class="card-text">
                        <a href="#" class="text-sublink">Specifications</a>
                        <a href="#" class="text-sublink">Api/Sdk/Code</a>
                        <a href="#" class="text-sublink">Native Apps</a>
                        <a href="#" class="text-sublink">News</a>
                        <a href="#" class="text-sublink">Resources</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-1" style="display: flex; align-items: center;">
                <img src="../../../assets/images/Excel.jpg" class="card-img b-avatar-img" alt="avatar"
                    style="width: 50px;">
            </div>
            <div class="col-md-11">
                <div class="card-body">
                    <div class="card-title d-flex">
                        <h6><b>MS Excel 2010</b></h6>
                        <div class="action-btns d-flex text-right ms-auto">
                            <a class="btn btn-outline-danger" title="Select" style="margin-right: 15px; height: 22px;">Select</a>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                            </div>
                            <a title="Alert"><i class="fa fa-exclamation-triangle"></i></a>
                            <a title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            <a href="javascript:void(0)" title="Delete"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </div>
                    <p class="card-text" style="font-size: 15px;">This is a wider card with supporting text below as a
                        natural lead-in to
                        additional content. This content is a little bit longer. This is a wider card with supporting
                        text below as a natural lead-in to
                        additional content. This content is a little bit longer. This is a wider card with supporting
                        text below as a natural lead-in to
                        additional content. This content is a little bit longer. This is a wider card with supporting
                        text below as a natural lead-in to
                        additional content. This content is a little bit longer. This is a wider card with supporting
                        text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <div class="card-text">
                        <a href="#" class="text-sublink">Specifications</a>
                        <a href="#" class="text-sublink">Api/Sdk/Code</a>
                        <a href="#" class="text-sublink">Native Apps</a>
                        <a href="#" class="text-sublink">News</a>
                        <a href="#" class="text-sublink">Resources</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-1" style="display: flex; align-items: center;">
                <img src="../../../assets/images/Excel.jpg" class="card-img b-avatar-img" alt="avatar"
                    style="width: 50px;">
            </div>
            <div class="col-md-11">
                <div class="card-body">
                    <div class="card-title d-flex">
                        <h6><b>MS Excel 2007</b></h6>
                        <div class="action-btns d-flex text-right ms-auto">
                            <a class="btn btn-outline-danger" title="Select" style="margin-right: 15px; height: 22px;">Select</a>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                            </div>
                            <a title="Alert"><i class="fa fa-exclamation-triangle"></i></a>
                            <a title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            <a href="javascript:void(0)" title="Delete"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </div>
                    <p class="card-text" style="font-size: 15px;">This is a wider card with supporting text below as a
                        natural lead-in to
                        additional content. This content is a little bit longer. This is a wider card with supporting
                        text below as a natural lead-in to
                        additional content. This content is a little bit longer. This is a wider card with supporting
                        text below as a natural lead-in to
                        additional content. This content is a little bit longer. This is a wider card with supporting
                        text below as a natural lead-in to
                        additional content. This content is a little bit longer. This is a wider card with supporting
                        text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <div class="card-text">
                        <a href="#" class="text-sublink">Specifications</a>
                        <a href="#" class="text-sublink">Api/Sdk/Code</a>
                        <a href="#" class="text-sublink">Native Apps</a>
                        <a href="#" class="text-sublink">News</a>
                        <a href="#" class="text-sublink">Resources</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-1" style="display: flex; align-items: center;">
                <img src="../../../assets/images/Excel.jpg" class="card-img b-avatar-img" alt="avatar"
                    style="width: 50px;">
            </div>
            <div class="col-md-11">
                <div class="card-body">
                    <div class="card-title d-flex">
                        <h6><b>MS Excel 2003</b></h6>
                        <div class="action-btns d-flex text-right ms-auto">
                            <a class="btn btn-outline-danger" title="Select" style="margin-right: 15px; height: 22px;">Select</a>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                            </div>
                            <a title="Alert"><i class="fa fa-exclamation-triangle"></i></a>
                            <a title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            <a href="javascript:void(0)" title="Delete"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </div>
                    <p class="card-text" style="font-size: 15px;">This is a wider card with supporting text below as a
                        natural lead-in to
                        additional content. This content is a little bit longer. This is a wider card with supporting
                        text below as a natural lead-in to
                        additional content. This content is a little bit longer. This is a wider card with supporting
                        text below as a natural lead-in to
                        additional content. This content is a little bit longer. This is a wider card with supporting
                        text below as a natural lead-in to
                        additional content. This content is a little bit longer. This is a wider card with supporting
                        text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <div class="card-text">
                        <a href="#" class="text-sublink">Specifications</a>
                        <a href="#" class="text-sublink">Api/Sdk/Code</a>
                        <a href="#" class="text-sublink">Native Apps</a>
                        <a href="#" class="text-sublink">News</a>
                        <a href="#" class="text-sublink">Resources</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #mymodal let-modal>
    <form [formGroup]="addCompanyForm" (ngSubmit)="onSubmit()">
        <div class="modal-header addChannel_company_header">
            <button type="button" class="button button-circle" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <mat-tab-group>
            <mat-tab label="Add New Company">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="input1" class="form-label">
                                        Company Name*
                                        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                            title="Help text to come here"></i>
                                    </label>
                                    <input id="company_name" type="text" formControlName="company_name" class="form-control form-control-sm"
                                        [ngClass]="{ 'is-invalid': submitted && f.company_name.errors }" />
                                    <div *ngIf="submitted" class="alert alert-danger-small">
                                        <div *ngIf="f.company_name.errors && f.company_name.errors.required">Company Name is required.</div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label for="input2" class="form-label">
                                        Company Url*
                                        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                            title="Help text to come here"></i>
                                    </label>
                                    <input id="company_url" type="text" formControlName="company_url" class="form-control form-control-sm"
                                        [ngClass]="{ 'is-invalid': submitted && f.company_url.errors }" />
                                    <div *ngIf="submitted" class="alert alert-danger-small">
                                        <div *ngIf="f.company_url.errors && f.company_url.errors.required">Company Url is required.</div>
                                        <div *ngIf="f.company_url.errors && f.company_url.errors.pattern">Please provide valid url.</div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label for="categories" class="form-label">
                                        Categories
                                        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                            title="Help text to come here"></i>
                                    </label>
                                    <select formControlName="category" id="category" class="form-select form-select-sm"  [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
                                        <option *ngFor="let category of categories" [ngValue]="category.id">{{category.value}}</option>
                                    </select>
                                    <div *ngIf="submitted" class="alert alert-danger-small">
                                        <div *ngIf="f.category.errors && f.category.errors.required">Category is required.</div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="input2" class="form-label">
                                        Company Logo*
                                        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                            title="Help text to come here"></i>
                                    </label>
                                </div>
                                <div class="col-md-12 text-center">
                                    <img class="img-responsive" id="preview-show" ng-show="filepreview"/>
                                </div>
                                <div class="col-md-12 text-center">
                                    <p style="margin-top: 10px; font-size: 10px;">H 200Px: W 200Px</p>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button type="button" class="btn btn-outline-warning" (click)="clickInputButton()">Upload</button>
                                </div>
                                <div class="col-md-12 text-center">
                                    <input type="file" fileinput="file" filepreview="filepreview" id="company-image" name="image" (change)="uploadPicture()"/>
                                </div>
                                <div *ngIf="submitted" class="alert alert-danger-small">
                                    <div *ngIf="f.image.errors && f.image.errors.required" style="text-align: center;">Company Logo is required.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 10px;">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="input1" class="form-label">
                                        Brief Description
                                        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                            title="Help text to come here"></i>
                                    </label>
                                    <textarea id="company_description" cols="10" style="height: 100px;" class="form-control form-control-sm"></textarea>
                                </div>
                                <div class="col-md-6">
                                    <label for="input2" class="form-label">
                                        Enter Tags
                                        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                            title="Help text to come here"></i>
                                    </label>
                                    <textarea id="company_tags" cols="10" style="height: 100px;" class="form-control form-control-sm"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 10px;">
                            <label for="input2" class="form-label">
                                Sub Domain*
                                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                    title="Help text to come here"></i>
                            </label>    
                            <div class="row" id="subdomain_div">
                                <div class="col-md-2 subdomain-label-div">https://</div>
                                <div class="col-md-8 p-0">
                                    <input id="sub_domain" type="text" formControlName="sub_domain" class="form-control form-control-sm"
                                            [ngClass]="{ 'is-invalid': submitted && f.sub_domain.errors }" />
                                </div>
                                <div class="col-md-2 subdomain-label-div" >.c2m.ent</div>
                            </div>
                            <div *ngIf="submitted" class="alert alert-danger-small">
                                <div *ngIf="f.sub_domain.errors && f.sub_domain.errors.required">Company Sub domain info is required.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel')">Cancel</button>
                    <!-- <button type="submit" class="btn btn-danger" (click)="modal.close('Save click')">Next</button> -->
                    <button type="submit" class="btn btn-danger">Save</button>
                </div>
            </mat-tab>
        </mat-tab-group>
    </form>
</ng-template>

<ng-template #addChannel let-modal>
    <div class="modal-header addChannel_modal_header">
        <button type="button" class="button button-circle" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <mat-tab-group>
        <mat-tab label="Add New Channel">
            <div class="modal-body">
                <label class="form-label">What channel would you like to add?</label>
                <div class="row mt-10 add_channel_btn_list">
                    <div class="col-md-3 add_channel_btn">
                        <div class="border_hover" (click)="gotoDeviceChannel(); modal.close('Cancel')">
                            <div class="add_channel_btn_image"> 
                                <img src="../../../assets/images/device2.png" alt="avatar">                   
                            </div>
                            <div class="add_channel_btn_name">      
                                Device                  
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 add_channel_btn">
                        <div class="border_hover" (click)="gotoAPIChannel(); modal.close('Cancel')">
                            <div class="add_channel_btn_image">  
                                <img src="../../../assets/images/api2.png" alt="avatar">                  
                            </div>
                            <div class="add_channel_btn_name">   
                                API                 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 add_channel_btn">
                        <div class="border_hover" (click)="gotoDatabaseChannel(); modal.close('Cancel')">
                            <div class="add_channel_btn_image">  
                                <img src="../../../assets/images/database3.jpeg" alt="avatar">                  
                            </div>
                            <div class="add_channel_btn_name">   
                                Database                 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 add_channel_btn">
                        <div class="border_hover" (click)="gotoFileChannel(); modal.close('Cancel')">
                            <div class="add_channel_btn_image">    
                                <img src="../../../assets/images/fileimage2.jpeg" alt="avatar">                
                            </div>
                            <div class="add_channel_btn_name">   
                                FlatFile                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel')">Cancel</button>
                <button type="submit" class="btn btn-danger" (click)="modal.close('Save click')">Next</button>
            </div>
        </mat-tab>
    </mat-tab-group>
   
</ng-template>