<div class="mainContent content">

    <h4>Microsoft</h4>
    <div class="p-1"></div>
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-1" style="display: flex; align-items: center;">
                <img src="../../../assets/images/windows.svg" class="card-img b-avatar-img" alt="avatar" style="width: 100px;">
            </div>
            <div class="col-md-11">
                <div class="card-body">
                    <div class="action-btns card-title" style="text-align: right;">
                        <a title="Edit"><i class="fas fa-pencil-alt"></i></a>
                        <a href="javascript:void(0)" title="Delete"><i class="far fa-trash-alt"></i></a>
                    </div>
                    <p class="card-text" style="font-size: 15px;">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="p-2"></div>
    <div class="gridActionsGroup mb-2">
        <div class="actionsWrap" style="margin-left: 0; width: 100%;">
            <h6 style="margin: 0px;">Channels</h6>
            <a [routerLink]="['/channel/add']" style="margin-left: auto;"><i class="fas fa-plus-circle"></i> Channel</a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-1" style="display: flex; align-items: center;">
                <img src="../../../assets/images/Excel.jpg" class="card-img b-avatar-img" alt="avatar" style="width: 50px;">
            </div>
            <div class="col-md-11">
                <div class="card-body">
                    <div class="card-title" style="display: flex;">
                        <h6><b>MS Excel 2010</b></h6>
                        <div class="action-btns" style="text-align: right; margin-left: auto;">
                            <a class="btn btn-outline-danger" title="Select">Select</a>
                            <a  title="Alert"><i class="fa fa-exclamation-triangle"></i></a>
                            <a title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            <a href="javascript:void(0)" title="Delete"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </div>
                    <p class="card-text" style="font-size: 15px;">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <div class="card-text">
                        <a href="#" class="text-sublink">Specifications</a>
                        <a href="#" class="text-sublink">Api/Sdk/Code</a>
                        <a href="#" class="text-sublink">Native Apps</a>
                        <a href="#" class="text-sublink">News</a>
                        <a href="#" class="text-sublink">Resources</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>