.addChannel_modal_header {
    display: flex;
    padding-bottom: 0px;
}
.addChannel_company_header {
    display: flex;
    padding-bottom: 0px;
}
.button-circle {
    margin-left: auto;
}
.content-label {
    margin: 0 0 0 10px;
    font-size: 15px;
}
.fa-plus-circle:hover {
    cursor: pointer;
}
.pluschannel:hover {
    cursor: pointer;
}
.action-btns.card-title .button:hover{
    cursor: pointer;
}
.card-title h6 {
    font-size: 14px;
}
.add_channel_btn:hover {
    cursor: pointer;
}
.text-sublink:hover {
    cursor: pointer;
}
.mt-30 {
    margin-top: 30px;
}
.pt-10 {
    padding-top: 10px;
}
.react-app-info h4 {
    font-weight: bold;
}
.react-app-info a {
    color: red;
}