<div class="mainContent content">

    <h6>Microsoft</h6>
    <div class="p-1"></div>
    <div class="card mb-3" style="border-bottom: none;">
        <div class="row no-gutters">
            <div class="col-md-1" style="display: flex; align-items: center;">
                <img src="../../../assets/images/windows.svg" class="card-img b-avatar-img" alt="avatar"
                    style="width: 100px;">
            </div>
            <div class="col-md-11">
                <div class="card-body">
                    <div class="action-btns card-title" style="text-align: right;">
                        <a class="button" (click)="open(mymodal)"><i class="fas fa-pencil-alt"></i></a>
                        <a href="javascript:void(0)" title="Delete"><i class="far fa-trash-alt"></i></a>
                    </div>
                    <p class="card-text" style="font-size: 15px;">This is a wider card with supporting text below as a
                        natural lead-in to
                        additional content. This content is a little bit longer. This is a wider card with supporting
                        text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="p-2"></div>
    <div class="gridActionsGroup mb-2">
        <div class="actionsWrap" style="margin-left: 0; width: 100%;">
            <h6 class="content-label">Channels</h6>
            <a (click)="open(addChannel)" class="pluschannel" style="margin-left: auto;"><i class="fas fa-plus-circle"></i> Channel</a>
        </div>
    </div>
    <div class="card mb-3" *ngFor="let number_data of [0,1,2,3,4];let i=index;">
        <div class="row no-gutters">
            <div class="col-md-1" style="display: flex; align-items: center;">
                <img src="../../../assets/images/Excel.jpg" class="card-img b-avatar-img" alt="avatar"
                    style="width: 50px;">
            </div>
            <div class="col-md-11">
                <div class="card-body">
                    <div class="card-title d-flex">
                        <h6><b>MS Excel {{ 2010 + number_data }} </b></h6>
                        <div class="action-btns d-flex text-right ms-auto">
                            <a class="btn btn-outline-danger" title="Select" style="margin-right: 15px; height: 22px;">Select</a>
                            <div class="form-check form-switch">
                                <input class="form-check-input text-sublink" type="checkbox" id="flexSwitchCheckChecked" checked>
                            </div>
                            <a title="Alert" class="text-sublink" (click)="open(modalAlert)"><i class="fa fa-exclamation-triangle"></i></a>
                            <a title="Edit" class="text-sublink"><i class="fas fa-pencil-alt"></i></a>
                            <a class="text-sublink" href="javascript:void(0)" title="Delete"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </div>
                    <p class="card-text" style="font-size: 15px;">This is a wider card with supporting text below as a
                        natural lead-in to
                        additional content. This content is a little bit longer. This is a wider card with supporting
                        text below as a natural lead-in to
                        additional content. This content is a little bit longer. This is a wider card with supporting
                        text below as a natural lead-in to
                        additional content. This content is a little bit longer. This is a wider card with supporting
                        text below as a natural lead-in to
                        additional content. This content is a little bit longer. This is a wider card with supporting
                        text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <div class="card-text">
                        <a class="text-sublink" (click)="open(modalSpecifications)">Specifications</a>
                        <a class="text-sublink" (click)="open(modalApiSdkCode)">Api/Sdk/Code</a>
                        <a class="text-sublink" (click)="open(modalNativeApps)">Native Apps</a>
                        <a class="text-sublink">News</a>
                        <a class="text-sublink" (click)="open(modalResources)">Resources</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #mymodal let-modal>
    <form [formGroup]="addCompanyForm" (ngSubmit)="onSubmit()">
        <div class="modal-header addChannel_company_header">
            <button type="button" class="button button-circle" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <mat-tab-group>
            <mat-tab label="Add New Company">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="input1" class="form-label">
                                        Company Name*
                                        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                            title="Help text to come here"></i>
                                    </label>
                                    <input id="company_name" type="text" formControlName="company_name" class="form-control form-control-sm"
                                        [ngClass]="{ 'is-invalid': submitted && f.company_name.errors }" />
                                    <div *ngIf="submitted" class="alert alert-danger-small">
                                        <div *ngIf="f.company_name.errors && f.company_name.errors.required">Company Name is required.</div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label for="input2" class="form-label">
                                        Company Url*
                                        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                            title="Help text to come here"></i>
                                    </label>
                                    <input id="company_url" type="text" formControlName="company_url" class="form-control form-control-sm"
                                        [ngClass]="{ 'is-invalid': submitted && f.company_url.errors }" />
                                    <div *ngIf="submitted" class="alert alert-danger-small">
                                        <div *ngIf="f.company_url.errors && f.company_url.errors.required">Company Url is required.</div>
                                        <div *ngIf="f.company_url.errors && f.company_url.errors.pattern">Please provide valid url.</div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label for="categories" class="form-label">
                                        Categories
                                        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                            title="Help text to come here"></i>
                                    </label>
                                    <select formControlName="category" id="category" class="form-select form-select-sm"  [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
                                        <option *ngFor="let category of categories" [ngValue]="category.id">{{category.value}}</option>
                                    </select>
                                    <div *ngIf="submitted" class="alert alert-danger-small">
                                        <div *ngIf="f.category.errors && f.category.errors.required">Category is required.</div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="input2" class="form-label">
                                        Company Logo*
                                        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                            title="Help text to come here"></i>
                                    </label>
                                </div>
                                <div class="col-md-12 text-center">
                                    <img class="img-responsive" id="preview-show" ng-show="filepreview"/>
                                </div>
                                <div class="col-md-12 text-center">
                                    <p style="margin-top: 10px; font-size: 10px;">H 200Px: W 200Px</p>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button type="button" class="btn btn-outline-warning" (click)="clickInputButton()">Upload</button>
                                </div>
                                <div class="col-md-12 text-center">
                                    <input type="file" fileinput="file" filepreview="filepreview" id="company-image" name="image" (change)="uploadPicture()"/>
                                </div>
                                <div *ngIf="submitted" class="alert alert-danger-small">
                                    <div *ngIf="f.image.errors && f.image.errors.required" style="text-align: center;">Company Logo is required.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 10px;">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="input1" class="form-label">
                                        Brief Description
                                        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                            title="Help text to come here"></i>
                                    </label>
                                    <textarea id="company_description" cols="10" style="height: 100px;" class="form-control form-control-sm"></textarea>
                                </div>
                                <div class="col-md-6">
                                    <label for="input2" class="form-label">
                                        Enter Tags
                                        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                            title="Help text to come here"></i>
                                    </label>
                                    <textarea id="company_tags" cols="10" style="height: 100px;" class="form-control form-control-sm"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 10px;">
                            <label for="input2" class="form-label">
                                Sub Domain*
                                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                    title="Help text to come here"></i>
                            </label>    
                            <div class="row" id="subdomain_div">
                                <div class="col-md-2 subdomain-label-div">https://</div>
                                <div class="col-md-8 p-0">
                                    <input id="sub_domain" type="text" formControlName="sub_domain" class="form-control form-control-sm"
                                            [ngClass]="{ 'is-invalid': submitted && f.sub_domain.errors }" />
                                </div>
                                <div class="col-md-2 subdomain-label-div" >.c2m.ent</div>
                            </div>
                            <div *ngIf="submitted" class="alert alert-danger-small">
                                <div *ngIf="f.sub_domain.errors && f.sub_domain.errors.required">Company Sub domain info is required.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel')">Cancel</button>
                    <!-- <button type="submit" class="btn btn-danger" (click)="modal.close('Save click')">Next</button> -->
                    <button type="submit" class="btn btn-danger">Save</button>
                </div>
            </mat-tab>
        </mat-tab-group>
    </form>
</ng-template>

<ng-template #addChannel let-modal>
    <div class="modal-header addChannel_modal_header">
        <button type="button" class="button button-circle" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <mat-tab-group>
        <mat-tab label="Add New Channel">
            <div class="modal-body">
                <label class="form-label">What channel would you like to add?</label>
                <div class="row mt-10 add_channel_btn_list">
                    <div class="col-md-3 add_channel_btn">
                        <div class="border_hover" (click)="gotoDeviceChannel(); modal.close('Cancel')">
                            <div class="add_channel_btn_image"> 
                                <img src="../../../assets/images/device2.png" alt="avatar">                   
                            </div>
                            <div class="add_channel_btn_name">      
                                Device                  
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 add_channel_btn">
                        <div class="border_hover" (click)="gotoAPIChannel(); modal.close('Cancel')">
                            <div class="add_channel_btn_image">  
                                <img src="../../../assets/images/api2.png" alt="avatar">                  
                            </div>
                            <div class="add_channel_btn_name">   
                                API                 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 add_channel_btn">
                        <div class="border_hover" (click)="gotoDatabaseChannel(); modal.close('Cancel')">
                            <div class="add_channel_btn_image">  
                                <img src="../../../assets/images/database3.jpeg" alt="avatar">                  
                            </div>
                            <div class="add_channel_btn_name">   
                                Database                 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 add_channel_btn">
                        <div class="border_hover" (click)="gotoFileChannel(); modal.close('Cancel')">
                            <div class="add_channel_btn_image">    
                                <img src="../../../assets/images/fileimage2.jpeg" alt="avatar">                
                            </div>
                            <div class="add_channel_btn_name">   
                                FlatFile                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel')">Cancel</button>
                <button type="submit" class="btn btn-danger" (click)="modal.close('Save click')">Next</button>
            </div>
        </mat-tab>
    </mat-tab-group>
   
</ng-template>

<ng-template #modalSpecifications let-modal>
    
    <div class="modal-header addChannel_company_header">
        <button type="button" class="button button-circle" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <mat-tab-group>
        <mat-tab label="Specifications">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 mt-30">
                        <p>Organization your number or text data in spreadsheets or webhooks. Viewing it in context helps you make more informed decisions.
                            As you look at different configurations, Excel learns and recognizes your pattern and auto-completes the remaining data for you.
                            No formulas or macros required.
                        </p>
                    </div>
                    <div class="col-md-12 mt-30">
                        <div class="table-responsive">
                            <table class="table table-striped align-middle table-sm m-0">
                                <thead>
                                    <tr>
                                        <th>
                                            Model Number
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let number_data of [0,1,2,3,4,5,6,7];let i=index;">
                                        <td>
                                            Model Number {{number_data + 1}}
                                        </td>
                                        <td>
                                            Name {{number_data + 1}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="modal.close('Close')">Close</button>
            </div>
        </mat-tab>
    </mat-tab-group>
    
</ng-template>

<ng-template #modalApiSdkCode let-modal>
    
    <div class="modal-header addChannel_company_header">
        <button type="button" class="button button-circle" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
            
    <mat-tab-group [selectedIndex]="selectedIndex">
        <mat-tab label="{{tabLabelList[number]}}" *ngFor="let number of [0,1,2];let i=index; ">
            <div class="modal-body">
                <div *ngIf="number==0">
                    <div class="row">
                        <div class="col-md-12 mt-30"> 
                            <div class="table-responsive">
                                <table class="table table-striped align-middle table-sm m-0">
                                    <thead>
                                        <tr>
                                            <th>
                                                Calls
                                            </th>
                                            <th>
                                                Resource URL
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let number_data of [0,1,2,3,4,5,6,7];let i=index;">
                                            <td>
                                                YoutubeAnalyticsReportsQuery_{{number_data + 1}}
                                            </td>
                                            <td>
                                                https://google.com/
                                            </td>
                                            <td>
                                                This is the test example of Description {{number_data + 1}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>                    
                        </div>
                    </div>
                </div>
                <div *ngIf="number==1">
                    <div class="row">
                        <div class="col-md-12 mt-30"> 
                            <div class="table-responsive">
                                <table class="table table-striped align-middle table-sm m-0">
                                    <thead>
                                        <tr>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Download
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let number_data of [0,1,2,3,4,5,6,7];let i=index;">
                                            <td>
                                                Microsoft SDK for {{number_data + 1}}
                                            </td>
                                            <td>
                                                <a style="color: red;">Click Here</a>
                                            </td>
                                            <td>
                                                This is the test example of Description {{number_data + 1}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>                        
                        </div>
                    </div>
                </div>
                <div *ngIf="number==2">
                    <div class="row">
                        <div class="col-md-12 mt-30"> 
                            <div class="table-responsive">
                                <table class="table table-striped align-middle table-sm m-0">
                                    <thead>
                                        <tr>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Code Repository
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let number_data of [0,1,2,3,4,5,6,7];let i=index;">
                                            <td>
                                                UNO with WiFi Shield {{number_data + 1}}
                                            </td>
                                            <td>
                                                https://github.com/repo{{number_data + 1}}
                                            </td>
                                            <td>
                                                This is the test example of Description {{number_data + 1}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>

    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Close')">Close</button>
    </div>
    
</ng-template>

<ng-template #modalNativeApps let-modal>
    
    <div class="modal-header addChannel_company_header">
        <button type="button" class="button button-circle" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <mat-tab-group>
        <mat-tab label="Native Apps">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 mt-10">
                        <div class="table-responsive">
                            <table class="table table-striped align-middle table-sm m-0">
                                <thead>
                                    <tr>
                                        <th>
                                            App Type
                                        </th>
                                        <th>
                                            App URL
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let number_data of [0,1,2,3,4,5,6,7];let i=index;">
                                        <td>
                                            App Type {{number_data + 1}}
                                        </td>
                                        <td>
                                            https://play.google.com/store/apps/details?id=product_{{number_data + 1}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="modal.close('Close')">Close</button>
            </div>
        </mat-tab>
    </mat-tab-group>
    
</ng-template>

<ng-template #modalResources let-modal>
    
    <div class="modal-header addChannel_company_header">
        <button type="button" class="button button-circle" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <mat-tab-group>
        <mat-tab label="Native Apps">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 mt-10">
                        <div class="table-responsive">
                            <table class="table table-striped align-middle table-sm m-0">
                                <tbody>
                                    <tr *ngFor="let number_data of [0,1,2,3,4];let i=index;">
                                        <td>
                                            <div class="row">
                                                <div class="col-md-2 mt-10">
                                                    <img src="../../../assets/images/image{{number_data + 1}}.png" class="card-img b-avatar-img" alt="avatar" style="width: 100px;">
                                                </div>
                                                <div class="col-md-10 mt-10 pt-10 react-app-info">
                                                    <h4>Marketing Documents{{number_data + 1}}</h4>
                                                    <p>This is the test data for native apps tab. <a>Click Here</a></p> 
                                                    <p>This is another test data for native apps tab. <a>Click Here</a></p> 
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="modal.close('Close')">Close</button>
            </div>
        </mat-tab>
    </mat-tab-group>
    
</ng-template>

<ng-template #modalAlert let-modal>
    <form [formGroup]="addReportForm" (ngSubmit)="onSubmitReport()">
        <div class="modal-header addChannel_company_header">
            <button type="button" class="button button-circle" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <mat-tab-group>
            <mat-tab label="Report an Error">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 mt-10">
                            <label for="name" class="form-label">
                                Name*
                                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                    title="Help text to come here"></i>
                            </label>
                            <input id="name" type="text" formControlName="name" class="form-control form-control-sm"
                                [ngClass]="{ 'is-invalid': submitted_report && f_report.name.errors }" />
                            <div *ngIf="submitted_report" class="alert alert-danger-small">
                                <div *ngIf="f_report.name.errors && f_report.name.errors.required">Name is required.</div>
                            </div>                            
                        </div>
                        <div class="col-md-12 mt-20">
                            <label for="email" class="form-label">
                                Email*
                                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                    title="Help text to come here"></i>
                            </label>
                            <input id="email" type="email" formControlName="email" class="form-control form-control-sm"
                                [ngClass]="{ 'is-invalid': submitted_report && f_report.email.errors }" />
                            <div *ngIf="submitted_report" class="alert alert-danger-small">
                                <div *ngIf="f_report.email.errors && f_report.email.errors.required">Email is required.</div>
                            </div>
                            <div *ngIf="submitted_report" class="alert alert-danger-small">
                                <div *ngIf="f_report.email.errors && f_report.email.errors.email">Put a valid email address.</div>
                            </div>
                        </div>
                        <div class="col-md-12 mt-20">
                            <label for="name" class="form-label">
                                Report Category*
                                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                    title="Help text to come here"></i>
                            </label>
                            <input id="report_category" type="text" formControlName="report_category" class="form-control form-control-sm"
                                [ngClass]="{ 'is-invalid': submitted_report && f_report.report_category.errors }" />
                            <div *ngIf="submitted_report" class="alert alert-danger-small">
                                <div *ngIf="f_report.report_category.errors && f_report.report_category.errors.required">Report Category is required.</div>
                            </div>                            
                        </div>
                        <div class="col-md-12 mt-20">
                            <label for="name" class="form-label">
                                Brief Description*
                                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                    title="Help text to come here"></i>
                            </label>
                            <textarea id="report_description" formControlName="report_description" cols="10" style="height: 100px;" [ngClass]="{ 'is-invalid': submitted_report && f_report.report_description.errors }" class="form-control form-control-sm"></textarea>
                          
                            <div *ngIf="submitted_report" class="alert alert-danger-small">
                                <div *ngIf="f_report.report_description.errors && f_report.report_description.errors.required">Brief Description is required.</div>
                            </div>                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel')">Cancel</button>
                    <button type="submit" class="btn btn-danger">Save</button>
                </div>
            </mat-tab>
        </mat-tab-group>
    </form>
</ng-template>