<div class="mainContent content">

    <h6>Manage Company</h6>
    <div class="p-1"></div>
    <div class="p-2"></div>
    <div class="gridActionsGroup mb-2">
        <div class="actionsWrap">
            <a [routerLink]="['/company/add']"><i class="fas fa-plus-circle"></i> Company</a>
            <a href="#"><i class="fas fa-file-excel"></i> Excel</a>
            <a href="#"><i class="fas fa-file-pdf"></i> PDF</a>
            <a href="#"><i class="fas fa-print"></i> Print</a>
        </div>
    </div>

    <!-- <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table table-striped align-middle table-sm m-0">
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
    
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
    
            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>
    
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
    </div> -->

    <div class="table-responsive">
        <table class="table table-striped align-middle table-sm m-0">
            <thead>
                <tr>
                    <th class="text-center">
                        <input type="checkbox" />
                    </th>
                    <th>
                        Action
                    </th>
                    <th>
                        <i class="fas fa-filter"></i> Name
                    </th>
                    <th>
                        <i class="fas fa-filter"></i> Url
                    </th>
                    <th>
                        <i class="fas fa-filter"></i> EmailAddress
                    </th>
                    <th>
                        <i class="fas fa-filter"></i> Status
                    </th>
                    <th>
                        <i class="fas fa-filter"></i> Number of Users
                    </th>
                    <th>
                        <i class="fas fa-filter"></i> Company Admin
                    </th>
                    <th>
                        <i class="fas fa-filter"></i> City
                    </th>
                    <th>
                        <i class="fas fa-filter"></i> State
                    </th>
                    <th>
                        <i class="fas fa-filter"></i> Assigned Space
                    </th>
                    <th>
                        <i class="fas fa-filter"></i> Free Space
                    </th>
                    <th>
                        <i class="fas fa-filter"></i> Used Space
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of companyInfoList; let i = index">
                    <td class="text-center">
                        <input type="checkbox" />
                    </td>
                    <td class="text-center">
                        <div class="action-btns">
                            <a [routerLink]="['/company/edit/', data.ID]" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            <a href="javascript:void(0)" title="Delete"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </td>
                    <td>
                        {{data.COMPANYNAME}}
                    </td>
                    <td>
                        {{data.URL}}
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                        {{data.NoOfChannels}}
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="mt-4 mb-4 justify-content-end" style="display:flex;">
        <div class="paginationWrap">
            <span>Go to Page: <input type="text" class="form-control form-control-sm" value="1" /></span>
            <span>Show Rows:
                <select class="form-select form-select-sm">
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                </select>
            </span>
            <span>
                1-10 of 53 <a href="#" class="p-1"><i class="fas fa-chevron-left"></i></a><a href="#" class="p-1"><i
                        class="fas fa-chevron-right"></i></a>
            </span>
        </div>
    </div>

</div>