<div class="mainContent content">
    <h4>Edit API Channel Wizard: <b style="color: red;">Microsoft</b></h4>
    <div class="p-1"></div>
    <div class="card mb-3" style="border-bottom: none;">
        <div class="row no-gutters">
            <div class="col-md-1" style="display: flex; align-items: center;">
                <img src="../../../assets/images/api2.png" class="card-img b-avatar-img" alt="avatar"
                    style="width: 100px;">
            </div>
            <div class="col-md-11">
                <div class="card-body">
                    <p class="card-text" style="font-size: 15px;">In the wizard, you will create setup template for a specific data group, or channel, based on a that a flat file.
                        In the wizard, you will create setup template for a specific data group, or channel, based on a that a flat file. In the wizard, you will create setup template for a specific data group, or channel, based on a that a flat file.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="p-2"></div>
    <div class="gridActionsGroup mb-2">
        <div class="actionsWrap" style="margin-left: 0; width: 100%;">
            <a id="backbutton" (click)="backClicked()">< Back </a>
        </div>
    </div>
</div>
