<div class="mainContent content">
    <h4>Edit API Channel Wizard: <b style="color: red;">Microsoft</b></h4>
    <div class="p-1"></div>
    <div class="card mb-3" style="border-bottom: none;">
        <div class="row no-gutters">
            <div class="col-md-1" style="display: flex; align-items: center;">
                <img src="../../../assets/images/api2.png" class="card-img b-avatar-img" alt="avatar"
                    style="width: 100px;">
            </div>
            <div class="col-md-11">
                <div class="card-body">
                    <p class="card-text" style="font-size: 15px;">In the wizard, you will create setup template for a specific data group, or channel, based on a that a flat file.
                        In the wizard, you will create setup template for a specific data group, or channel, based on a that a flat file. In the wizard, you will create setup template for a specific data group, or channel, based on a that a flat file.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="p-2"></div>
    <div class="gridActionsGroup mb-2">
        <div class="actionsWrap" style="margin-left: 0; width: 100%;">
            <a id="backbutton" (click)="backClicked()">< Back </a>
        </div>
    </div>

    <div class="row mt-30 db_channel_list analytic-request-div">
        <div class="col-md-2">
            <select id="request_type" class="form-select form-select-sm" >
                <option *ngFor="let request_type of request_type_list" [ngValue]="request_type.id">{{request_type.value}}</option>
            </select>
        </div>
        <div class="col-md-8">
            <input id="request_url" type="text" formControlName="request_url" class="form-control form-control-sm" placeholder="Type URL here" />
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary analytic-request-btn">Send</button>
        </div>
    </div>    

    <div class="row mt-30 analytic-info-list">
        <div class="col-md-3" id="request-list-block">
            <label for="call-list" class="form-label mt-30">
                <b>Select Method</b>
            </label>
            <div class="mt-10">
                <div class="call-list" *ngFor="let request_info of request_info_list">
                    <label class="request-method">{{request_info.method}}</label>
                    <label class="request-name">{{request_info.name}}</label>
                </div>
            </div>
        </div>  
            
        <div class="col-md-9" id="parameter-list-block">            
            <div class="request-parameter-block">
                <form (ngSubmit)="onSubmit()" >
                    <mat-tab-group [selectedIndex]="selectedIndex" style="height: 100%;">
                        <mat-tab label="{{tabLabelList[number]}}" *ngFor="let number of [0,1,2,3];let i=index; "> 
                            <div *ngIf="number==0">
                                <div class="container mt-10 param_list_div">
                                    <div class="row db_channel_info" *ngFor="let number of numbers">
                                        <div class="col-md-5 mt-10">
                                            <input id="param_name" type="text" class="form-control form-control-sm" placeholder="Name"/>
                                        </div>
                                        <div class="col-md-5 mt-10">
                                            <input id="param_content" type="text" class="form-control form-control-sm" placeholder="Content" />
                                        </div>
                                        <div class="col-md-2 mt-10 icon-button">
                                            <a *ngIf="number==0" class="pluschannel" style="margin-left: auto;" (click)="addNewForm()"><i class="fas fa-plus-circle add-channel-icon"></i></a>
                                            <a *ngIf="number!=0" class="pluschannel" style="margin-left: auto;" (click)="removeForm(number)"><i class="fas fa-trash-alt add-channel-icon"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="number==1">
                                <div class="row mt-10 param_list_div">
                                </div>
                            </div>   
                            <div *ngIf="number==2">
                                <div class="row mt-10 param_list_div">
                                    <div class="col-md-12">
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="number==3">
                                <div class="row mt-10 db_channel_list">
                                </div>
                            </div>  
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>
            <div class="row" id="request-response-block">
                <div class="col-md-6" id="request-content-block">
                </div>
                <div class="col-md-6" id="response-content-block">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark">Cancel</button>                        
        <button type="button" class="btn btn-primary">Save Feed</button>
        <button type="submit" class="btn btn-danger">Finish</button>
    </div>
</div>
