<div id="pinnedMenu" class="h-100 vertical-menu-modern menu-collapsed">
    <app-header-nav></app-header-nav>
    <app-aside-nav></app-aside-nav>
    <app-menu-right></app-menu-right>
    <div class="mainContent content">
        <div class="appsWrap">
            <div *ngFor="let app of appList">
                <h6 class="m-0">{{app.ParentFriendlyName}}</h6>
                <ul class="appList">
                    <li *ngFor="let child of getChildApps(app.childApp?.apps)">
                        <div class="icon_wrap">
                            <a href="javascript:void(0)" class="image_wrap" (click)="OpenApp(child)">
                                <img [src]="getChildAppImg(child)" onerror="if (this.src != 'assets/images/cattle-icon.png') this.src = 'assets/images/cattle-icon.png';">
                            </a>
                        </div>
                        <div>
                            <span class="AppTitle"> {{child.FriendlyName}} </span>
                        </div>
                    </li>
                </ul>
                <div class="p-4"></div>
            </div>
        </div>
    </div>
</div>