<div class="mainContent content">
    <div class="appsWrap">
    <h6 class="m-0">C2M Admin Apps</h6>
    <ul class="appList">
        <li>
            <div class="icon_wrap">
                <a href="javascript:void(0)" class="image_wrap">
                    <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                </a>
            </div>
            <div>
                <span class="AppTitle"> Manage Announcement </span>
            </div>
        </li>
        <li>
            <div class="icon_wrap">
                <a href="javascript:void(0)" class="image_wrap">
                    <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                </a>
            </div>
            <div>
                <span class="AppTitle"> Manage User </span>
            </div>
        </li>
        <li>
            <div class="icon_wrap">
                <a href="javascript:void(0)" class="image_wrap">
                    <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                </a>
            </div>
            <div>
                <span class="AppTitle"> Manage Role </span>
            </div>
        </li>
        <li>
            <div class="icon_wrap">
                <a href="javascript:void(0)" class="image_wrap">
                    <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                </a>
            </div>
            <div>
                <span class="AppTitle"> Quick Mind </span>
            </div>
        </li>
    </ul>
    
    <div class="p-4"></div>
    
    <h6 class="m-0">Products and Pricing</h6>
    <ul class="appList">
        <li>
            <div class="icon_wrap">
                <a href="javascript:void(0)" class="image_wrap">
                <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                </a>
            </div>
            <div>
                <span class="AppTitle"> Programs </span>
            </div>
        </li>
        <li>
            <div class="icon_wrap">
                <a href="javascript:void(0)" class="image_wrap">
                <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                </a>
            </div>
            <div>
                <span class="AppTitle"> Products </span>
            </div>
        </li>
        <li>
            <div class="icon_wrap">
                <a href="javascript:void(0)" class="image_wrap">
                <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                </a>
            </div>
            <div>
                <span class="AppTitle"> Product Actions </span>
            </div>
        </li>
        <li>
            <div class="icon_wrap">
                <a href="javascript:void(0)" class="image_wrap">
                <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                </a>
            </div>
            <div>
                <span class="AppTitle"> Incentives </span>
            </div>
        </li>
        <li>
            <div class="icon_wrap">
                <a href="javascript:void(0)" class="image_wrap">
                <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                </a>
            </div>
            <div>
                <span class="AppTitle"> Distributor Cost Assignment </span>
            </div>
        </li>
        <li>
            <div class="icon_wrap">
                <a href="javascript:void(0)" class="image_wrap">
                <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                </a>
            </div>
            <div>
                <span class="AppTitle"> Product Cross Reference </span>
            </div>
        </li>
        <li>
            <div class="icon_wrap">
                <a href="javascript:void(0)" class="image_wrap">
                <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                </a>
            </div>
            <div>
                <span class="AppTitle"> Margins </span>
            </div>
        </li>
    </ul>
    
    <div class="p-4"></div>
    
    <h6 class="m-0">NovusAg Business Apps</h6>
    <ul class="appList">
        <li>
            <div class="icon_wrap">
                <a href="javascript:void(0)" class="image_wrap">
                <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                </a>
            </div>
            <div>
                <span class="AppTitle"> Contracts </span>
            </div>
        </li>
        <li>
            <div class="icon_wrap">
                <a href="javascript:void(0)" class="image_wrap">
                <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                </a>
            </div>
            <div>
                <span class="AppTitle"> Pricing Manager </span>
            </div>
        </li>
        <li>
            <div class="icon_wrap">
                <a href="javascript:void(0)" class="image_wrap">
                <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                </a>
            </div>
            <div>
                <span class="AppTitle"> Booking Details </span>
            </div>
        </li>
        <li>
            <div class="icon_wrap">
                <a href="javascript:void(0)" class="image_wrap">
                <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                </a>
            </div>
            <div>
                <span class="AppTitle"> Release Manager </span>
            </div>
        </li>
        <li>
            <div class="icon_wrap">
                <a href="javascript:void(0)" class="image_wrap">
                <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                </a>
            </div>
            <div>
                <span class="AppTitle"> Fertilizer Requests </span>
            </div>
        </li>
        <li>
            <div class="icon_wrap">
                <a href="javascript:void(0)" class="image_wrap">
                <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                </a>
            </div>
            <div>
                <span class="AppTitle"> Inventory </span>
            </div>
        </li>
        <li>
            <div class="icon_wrap">
                <a href="javascript:void(0)" class="image_wrap">
                <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                </a>
            </div>
            <div>
                <span class="AppTitle"> Customer Credit Limit Manager </span>
            </div>
        </li>
        <li>
            <div class="icon_wrap">
                <a href="javascript:void(0)" class="image_wrap">
                <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                </a>
            </div>
            <div>
                <span class="AppTitle"> Vendor Credit Limit Manager </span>
            </div>
        </li>
    </ul>
  </div>