.db_channel_info {
    padding: 0 20px 0 20px;
}
.db_channel_list {
    width: 100%;
    margin-top: 50px;
}
.mt-30 {
    margin-top: 30px;
}
#channel-image {
    display: none;
}
#backbutton {
    margin: 0px; 
    font-size: 16px;
}
#backbutton:hover {
    cursor: pointer;
}
.content-label {
    margin: 0 0 0 10px;
    font-size: 15px;
}
.pluschannel:hover {
    cursor: pointer;
}
.fa-pencil-alt:hover {
    cursor: pointer;
}
.permission_member_add_btn {
    font-size: 11px;
    height: 27px;
}
.tab-black {
    background-color: black;
}