<div class="mainContent content">
    <h4>Add File Channel Wizard: <b style="color: red;">Microsoft</b></h4>
    <div class="p-1"></div>
    <div class="card mb-3" style="border-bottom: none;">
        <div class="row no-gutters">
            <div class="col-md-1" style="display: flex; align-items: center;">
                <img src="../../../assets/images/file1.jpeg" class="card-img b-avatar-img" alt="avatar"
                    style="width: 100px;">
            </div>
            <div class="col-md-11">
                <div class="card-body">
                    <p class="card-text" style="font-size: 15px;">In the wizard, you will create setup template for a specific data group, or channel, based on a that a flat file.
                        In the wizard, you will create setup template for a specific data group, or channel, based on a that a flat file. In the wizard, you will create setup template for a specific data group, or channel, based on a that a flat file.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="p-2"></div>
    <div class="gridActionsGroup mb-2">
        <div class="actionsWrap" style="margin-left: 0; width: 100%;">
            <a id="backbutton" (click)="backClicked()">< Back </a>
        </div>
    </div>
    <form [formGroup]="addChannelForm" (ngSubmit)="onSubmit()" >
        <mat-tab-group [selectedIndex]="selectedIndex">
            <mat-tab label="{{number + 1}}. {{tabLabelList[number]}}" *ngFor="let number of [0,1];let i=index; ">
                <div *ngIf="number==0">
                    <div class="row mt-10 db_channel_list">
                        <div class="col-md-4">
                            <div class="row db_channel_info">
                                <div class="col-md-12">
                                    <label for="input2" class="form-label">
                                        Channel Image*
                                        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                            title="Help text to come here"></i>
                                    </label>
                                </div>
                                <div class="col-md-12 text-center">
                                    <img class="img-responsive" id="preview-show" ng-show="filepreview"/>
                                </div>
                                <div class="col-md-12 text-center">
                                    <p style="margin-top: 10px; font-size: 10px;">H 200Px: W 200Px</p>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button type="button" class="btn btn-outline-warning" (click)="clickInputButton()">Upload</button>
                                </div>
                                <div class="col-md-12 text-center">
                                    <input type="file" fileinput="file" filepreview="filepreview" id="channel-image" name="image" (change)="uploadPicture()"/>
                                </div>
                                <div *ngIf="submitted" class="alert alert-danger-small">
                                    <div *ngIf="f.image.errors && f.image.errors.required" style="text-align: center;">Channel Image is required.</div>
                                </div>
                            </div>
                            <div class="row db_channel_info">
                                <div class="col-md-12 mt-30">
                                    <label for="permission" class="form-label">
                                        Permission
                                        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                            title="Help text to come here"></i>
                                    </label>
                                    <select formControlName="permission" id="permission" class="form-select form-select-sm">
                                        <option *ngFor="let permission of permissions" [ngValue]="permission.id">{{permission.value}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row db_channel_info">
                                <div class="col-md-12 mt-30">
                                    <label for="input1" class="form-label">
                                        Channel Name*
                                        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                            title="Help text to come here"></i>
                                    </label>
                                    <input id="channel_name" type="text" formControlName="channel_name" class="form-control form-control-sm"
                                        [ngClass]="{ 'is-invalid': submitted && f.channel_name.errors }" />
                                    <div *ngIf="submitted" class="alert alert-danger-small">
                                        <div *ngIf="f.channel_name.errors && f.channel_name.errors.required">Channel Name is required.</div>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-30">
                                    <label for="channel_type" class="form-label">
                                        Speficiations
                                        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                            title="Help text to come here"></i>
                                    </label>
                                    <angular-editor [placeholder]="'Enter text here...'" [config]="editorConfig"></angular-editor>
                                </div>
                                <div class="col-md-12 mt-30">
                                    <label for="input1" class="form-label">
                                        TTL Period
                                        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                            title="Help text to come here"></i>
                                    </label>
                                    <input id="ttl_period" type="text" formControlName="ttl_period" class="form-control form-control-sm"
                                        [ngClass]="{ 'is-invalid': submitted && f.ttl_period.errors }" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row db_channel_info">
                                <div class="col-md-12 mt-30">
                                    <label for="input1" class="form-label">
                                        Short Description
                                        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                            title="Help text to come here"></i>
                                    </label>
                                    <textarea id="channel_description" cols="10" style="height: 100px;" class="form-control form-control-sm"></textarea>
                                </div>
                                <div class="col-md-12 mt-30">
                                    <label for="input2" class="form-label">
                                        Enter Tags
                                        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                            title="Help text to come here"></i>
                                    </label>
                                    <textarea id="channel_tags" cols="10" style="height: 100px;" class="form-control form-control-sm"></textarea>
                                </div>
                                <div class="col-md-12 mt-30">
                                    <label for="navigation_tab" class="form-label">
                                        Navigation Tabs
                                        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                            title="Help text to come here"></i>
                                    </label>
                                    <select formControlName="channel_navigation_tab" id="navigation_tab" class="form-select form-select-sm">
                                        <option *ngFor="let navigation_tab of navigation_tab_list" [ngValue]="navigation_tab.id">{{navigation_tab.value}}</option>
                                    </select>
                                </div>
                                <div class="col-md-12 mt-30">
                                    <label for="channel_ttl_rate" class="form-label">
                                        TTL Rate
                                        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                            title="Help text to come here"></i>
                                    </label>
                                    <select formControlName="channel_ttl_rate" id="channel_ttl_rate" class="form-select form-select-sm">
                                        <option *ngFor="let channel_ttl_rate of channel_ttl_rate_list" [ngValue]="channel_ttl_rate.id">{{channel_ttl_rate.value}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark">Cancel</button>
                        <button type="submit" class="btn btn-secondary">Save</button>
                        <button type="button" class="btn btn-danger" (click)="nextStep()">Next</button>
                    </div>
                </div>
                <div *ngIf="number==1">
                    <div class="row mt-10 db_channel_list">
                        <div class="col-md-12">
                            <div class="row db_channel_info">
                                <div class="col-md-4">
                                    <h4 class="form-label medium-label">
                                        <b>News</b>
                                    </h4>
                                    <label for="input1" class="form-label">
                                        RSS Feed URL
                                        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                            title="Help text to come here"></i>
                                    </label>
                                    <input id="rss_feed_url" type="text" formControlName="rss_feed_url" class="form-control form-control-sm"
                                        [ngClass]="{ 'is-invalid': submitted && f.rss_feed_url.errors }" />
                                </div>
                                <div class="col-md-4 mt-30">
                                </div>
                                <div class="col-md-4 mt-30">
                                </div>
                            </div>                            
                        </div>
                        <div class="col-md-12">
                            <div class="row db_channel_info">
                                <div class="col-md-4 mt-30">
                                    <h4 class="form-label medium-label">
                                        Buy
                                    </h4>
                                    <label for="buy_it_url" class="form-label">
                                        Buy it URL
                                        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                            title="Help text to come here"></i>
                                    </label>
                                    <input id="buy_it_url" type="text" formControlName="buy_it_url" class="form-control form-control-sm"
                                        [ngClass]="{ 'is-invalid': submitted && f.buy_it_url.errors }" />
                                </div>
                                <div class="col-md-4 mt-30">
                                    <h4 class="form-label medium-label">
                                        Subscribe
                                    </h4>
                                    <label for="subscribe_url" class="form-label">
                                        Subscribe URL
                                        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                                            title="Help text to come here"></i>
                                    </label>
                                    <input id="subscribe_url" type="text" formControlName="subscribe_url" class="form-control form-control-sm"
                                        [ngClass]="{ 'is-invalid': submitted && f.subscribe_url.errors }" />
                                </div>
                                <div class="col-md-4 mt-30">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-10 db_channel_list">

                        <div class="gridActionsGroup mb-2 tab-black">
                            <div class="actionsWrap" style="margin-left: 0; width: 100%;">
                                <h6 class="content-label">Native Apps</h6>
                                <a class="pluschannel" style="margin-left: auto;"><i class="fas fa-plus-circle"></i> Add New</a>
                            </div>
                        </div>
                
                        <div class="table-responsive">
                            <table class="table table-striped align-middle table-sm m-0">
                                <thead>
                                    <tr>
                                        <th>
                                            Action
                                        </th>
                                        <th>
                                            App Type
                                        </th>
                                        <th>
                                            App URL
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let number_data of [0,1,2,3,4,5,6,7];let i=index;">
                                        <td class="text-center">
                                            <div class="action-btns">
                                                <a title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                <a href="javascript:void(0)" title="Delete"><i class="far fa-trash-alt"></i></a>
                                            </div>
                                        </td>
                                        <td>
                                            Andriod
                                        </td>
                                        <td>
                                            https://play.google.com/store/apps/details?id=com.fibit.FibitMobile
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row mt-10 db_channel_list">

                        <div class="gridActionsGroup mb-2 tab-black">
                            <div class="actionsWrap" style="margin-left: 0; width: 100%;">
                                <h6 class="content-label">Developer Resources</h6>
                                <a class="pluschannel" style="margin-left: auto;"><i class="fas fa-plus-circle"></i> Add New</a>
                            </div>
                        </div>
                
                        <div class="table-responsive">
                            <table class="table table-striped align-middle table-sm m-0">
                                <thead>
                                    <tr>
                                        <th>
                                            Action
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Type
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let number_data of [0,1,2,3,4,5,6,7];let i=index;">
                                        <td class="text-center">
                                            <div class="action-btns">
                                                <a title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                <a href="javascript:void(0)" title="Delete"><i class="far fa-trash-alt"></i></a>
                                            </div>
                                        </td>
                                        <td>
                                            Resource One
                                        </td>
                                        <td>
                                            File
                                        </td>
                                        <td>
                                            This is a good resource with file type. This is a test example description. This will be replaced with actual value later when api will be ready.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row mt-10 db_channel_list">
                        <div class="col-md-6">
                            <div class="gridActionsGroup mb-2 tab-black">
                                <div class="actionsWrap" style="margin-left: 0; width: 100%;">
                                    <h6 class="content-label">Marketing Docs</h6>
                                    <a class="pluschannel" style="margin-left: auto;"><i class="fas fa-plus-circle"></i> Add New</a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped align-middle table-sm m-0">
                                    <thead>
                                        <tr>
                                            <th>
                                                Action
                                            </th>
                                            <th>
                                                URL
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let number_data of [0,1,2,3,4,5,6,7];let i=index;">
                                            <td class="text-center">
                                                <div class="action-btns">
                                                    <a title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                    <a href="javascript:void(0)" title="Delete"><i class="far fa-trash-alt"></i></a>
                                                </div>
                                            </td>
                                            <td>
                                                https://cloudstging
                                            </td>
                                            <td>
                                                This is a good resource with file type. This is a test...
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="gridActionsGroup mb-2 tab-black">
                                <div class="actionsWrap" style="margin-left: 0; width: 100%;">
                                    <h6 class="content-label">Marketing Docs</h6>
                                    <a class="pluschannel" style="margin-left: auto;"><i class="fas fa-plus-circle"></i> Add New</a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped align-middle table-sm m-0">
                                    <thead>
                                        <tr>
                                            <th>
                                                Action
                                            </th>
                                            <th>
                                                URL
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let number_data of [0,1,2,3,4,5,6,7];let i=index;">
                                            <td class="text-center">
                                                <div class="action-btns">
                                                    <a title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                    <a href="javascript:void(0)" title="Delete"><i class="far fa-trash-alt"></i></a>
                                                </div>
                                            </td>
                                            <td>
                                                https://cloudstging
                                            </td>
                                            <td>
                                                This is a good resource with file type. This is a test...
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-10 db_channel_list">
                        <div class="col-md-6">
                            <div class="gridActionsGroup mb-2 tab-black">
                                <div class="actionsWrap" style="margin-left: 0; width: 100%;">
                                    <h6 class="content-label">Blogs</h6>
                                    <a class="pluschannel" style="margin-left: auto;"><i class="fas fa-plus-circle"></i> Add New</a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped align-middle table-sm m-0">
                                    <thead>
                                        <tr>
                                            <th>
                                                Action
                                            </th>
                                            <th>
                                                URL
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let number_data of [0,1,2,3,4,5,6,7];let i=index;">
                                            <td class="text-center">
                                                <div class="action-btns">
                                                    <a title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                    <a href="javascript:void(0)" title="Delete"><i class="far fa-trash-alt"></i></a>
                                                </div>
                                            </td>
                                            <td>
                                                https://cloudstging
                                            </td>
                                            <td>
                                                This is a good resource with file type. This is a test...
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="gridActionsGroup mb-2 tab-black">
                                <div class="actionsWrap" style="margin-left: 0; width: 100%;">
                                    <h6 class="content-label">Forums</h6>
                                    <a class="pluschannel" style="margin-left: auto;"><i class="fas fa-plus-circle"></i> Add New</a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped align-middle table-sm m-0">
                                    <thead>
                                        <tr>
                                            <th>
                                                Action
                                            </th>
                                            <th>
                                                URL
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let number_data of [0,1,2,3,4,5,6,7];let i=index;">
                                            <td class="text-center">
                                                <div class="action-btns">
                                                    <a title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                    <a href="javascript:void(0)" title="Delete"><i class="far fa-trash-alt"></i></a>
                                                </div>
                                            </td>
                                            <td>
                                                https://cloudstging
                                            </td>
                                            <td>
                                                This is a good resource with file type. This is a test...
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-10 db_channel_list">

                        <div class="gridActionsGroup mb-2 tab-black">
                            <div class="actionsWrap" style="margin-left: 0; width: 100%;">
                                <h6 class="content-label">Videos</h6>
                                <a class="pluschannel" style="margin-left: auto;"><i class="fas fa-plus-circle"></i> Add New</a>
                            </div>
                        </div>
                
                        <div class="table-responsive">
                            <table class="table table-striped align-middle table-sm m-0">
                                <thead>
                                    <tr>
                                        <th>
                                            Action
                                        </th>
                                        <th>
                                            Featured
                                        </th>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Type
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let number_data of [0,1,2,3,4,5,6,7];let i=index;">
                                        <td class="text-center">
                                            <div class="action-btns">
                                                <a title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                <a href="javascript:void(0)" title="Delete"><i class="far fa-trash-alt"></i></a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-switch">
                                                <toggle-button (changed)="checked=$event" class="video_featured"></toggle-button>
                                            </div>
                                        </td>
                                        <td>
                                            Video One
                                        </td>
                                        <td>
                                            URL
                                        </td>
                                        <td>
                                            This is a good resource with file type. This is a test example. This value will be replaced with actual values from API.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark">Cancel</button>
                        <button type="button" class="btn btn-secondary" (click)="previousStep()">Prev</button>
                        <button type="submit" class="btn btn-danger">Finish</button>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </form>
</div>