<div class="menuRight">
    <div class="p-2"></div>

    <div class="dropdown-notification position-relative">
        <div class="companiesheader">
            <h6 class="rightbar_title">Companies</h6>
            <div class="p-1"></div>
            <div class="nav-search">
                <input type="search" class="form-control form-control-sm rounded" placeholder="Search" aria-label="Search"
                  aria-describedby="search-addon" />
                <span class="searchBtn" id="search-addon">
                  <i class="fas fa-search"></i>
                </span>
            </div>
            <div class="p-1"></div>
        </div>
        <div class="companiescontent">
            <div class="p-1"></div>
            <div class="right_bar_companies_list">
                <div class="right_bar_avatar">
                    <img src="../../../assets/images/windows.svg" class="card-img b-avatar-img" alt="avatar">
                </div>
                <div class="right_bar_company_name_div">
                    <p class="right_bar_company_name">Oracle</p>
                </div>
            </div>
            <div class="p-1"></div>
            <div class="right_bar_companies_list">
                <div class="right_bar_avatar">
                    <img src="../../../assets/images/windows.svg" class="card-img b-avatar-img" alt="avatar">
                </div>
                <div class="right_bar_company_name_div">
                    <p class="right_bar_company_name">Microsoft</p>
                </div>
            </div>
            <div class="p-1"></div>
            <div class="right_bar_companies_list">
                <div class="right_bar_avatar">
                    <img src="../../../assets/images/windows.svg" class="card-img b-avatar-img" alt="avatar">
                </div>
                <div class="right_bar_company_name_div">
                    <p class="right_bar_company_name">Plasma Computing Group</p>
                </div>
            </div>
            <div class="p-1"></div>
            <div class="right_bar_companies_list">
                <div class="right_bar_avatar">
                    <img src="../../../assets/images/windows.svg" class="card-img b-avatar-img" alt="avatar">
                </div>
                <div class="right_bar_company_name_div">
                    <p class="right_bar_company_name">Landmark</p>
                </div>
            </div>
            <div class="p-1"></div>
            <div class="right_bar_companies_list">
                <div class="right_bar_avatar">
                    <img src="../../../assets/images/windows.svg" class="card-img b-avatar-img" alt="avatar">
                </div>
                <div class="right_bar_company_name_div">
                    <p class="right_bar_company_name">Microsoft</p>
                </div>
            </div>
            <div class="p-1"></div>
            <div class="right_bar_companies_list">
                <div class="right_bar_avatar">
                    <img src="../../../assets/images/windows.svg" class="card-img b-avatar-img" alt="avatar">
                </div>
                <div class="right_bar_company_name_div">
                    <p class="right_bar_company_name">Plasma Computing Group</p>
                </div>
            </div>
            <div class="p-1"></div>
        </div>
        <div class="add_company_btn_div">
            <button class="btn btn-danger add_company_btn">Add Company</button>
        </div>
    </div>
</div>