.rightbar_title {
    color: black;
    font-size: 15px;
    margin-left: 10px;
}
.right_bar_avatar {
    display: flex; 
    align-items: center;
    width: 30px;
}
.right_bar_company_name {
    font-size: 13px;
}
.right_bar_company_name_div {
    display: flex; 
    align-items: center;
}
.right_bar_companies_list {
    display: flex;
    margin-left: 5px;
}
.right_bar_company_name_div p {
    margin: 0;
}
.companiesheader {
    border-bottom: 1px solid #ddd;
}
.companiescontent {
    border-bottom: 1px solid #ddd;
}
.companiesheader .nav-search {
    margin-left: 10px;
    margin-right: 10px;
}
.add_company_btn_div {
    padding: 10px;
}
.add_company_btn {
    width: 100%;
}
