<div class="menuRight">
    <div class="p-2"></div>

    <div class="dropdown-notification position-relative">
        <div class="companiesheader">
            <h6 class="rightbar_title">Companies</h6>
            <div class="p-1"></div>
        </div>
        <div class="companiescontent">
            <div class="p-1"></div>
            <div class="right_bar_companies_list">
                <div class="right_bar_avatar">
                    <img src="../../../assets/images/windows.svg" class="card-img b-avatar-img" alt="avatar">
                </div>
                <div class="right_bar_company_name_div">
                    <p class="right_bar_company_name">Oracle</p>
                </div>
            </div>
            <div class="p-1"></div>
            <div class="right_bar_companies_list">
                <div class="right_bar_avatar">
                    <img src="../../../assets/images/windows.svg" class="card-img b-avatar-img" alt="avatar">
                </div>
                <div class="right_bar_company_name_div">
                    <p class="right_bar_company_name">Microsoft</p>
                </div>
            </div>
            <div class="p-1"></div>
            <div class="right_bar_companies_list">
                <div class="right_bar_avatar">
                    <img src="../../../assets/images/windows.svg" class="card-img b-avatar-img" alt="avatar">
                </div>
                <div class="right_bar_company_name_div">
                    <p class="right_bar_company_name">Plasma Computing Group</p>
                </div>
            </div>
            <div class="p-1"></div>
            <div class="right_bar_companies_list">
                <div class="right_bar_avatar">
                    <img src="../../../assets/images/windows.svg" class="card-img b-avatar-img" alt="avatar">
                </div>
                <div class="right_bar_company_name_div">
                    <p class="right_bar_company_name">Landmark</p>
                </div>
            </div>
            <div class="p-1"></div>
            <div class="right_bar_companies_list">
                <div class="right_bar_avatar">
                    <img src="../../../assets/images/windows.svg" class="card-img b-avatar-img" alt="avatar">
                </div>
                <div class="right_bar_company_name_div">
                    <p class="right_bar_company_name">Microsoft</p>
                </div>
            </div>
            <div class="p-1"></div>
            <div class="right_bar_companies_list">
                <div class="right_bar_avatar">
                    <img src="../../../assets/images/windows.svg" class="card-img b-avatar-img" alt="avatar">
                </div>
                <div class="right_bar_company_name_div">
                    <p class="right_bar_company_name">Plasma Computing Group</p>
                </div>
            </div>
            <div class="p-1"></div>
        </div>
    </div>
</div>