.db_channel_info {
    padding: 0 20px 0 20px;
}
.db_channel_list {
    width: 100%;
    margin-top: 50px;
}
.mt-30 {
    margin-top: 30px;
}

.mt-20 {
    margin-top: 20px;
}
#channel-image {
    display: none;
}
#xmlfile {
    display: none;
}
#commandfile {
    display: none;
}
#backbutton {
    margin: 0px; 
    font-size: 16px;
}
#backbutton:hover {
    cursor: pointer;
}
.toggle.ios, .toggle-on.ios, .toggle-off.ios { 
    border-radius: 20rem; 
}
.toggle.ios .toggle-handle { 
    border-radius: 20rem; 
}
.radio-right {
    margin-left: 10px;
}
.content-label {
    margin: 0 0 0 10px;
    font-size: 15px;
}
.tab-black {
    background-color: black;
}
.pt-30 {
    padding-top: 30px;
}
.xmlbtn-div {
    width: 30%;
}
.xmlbtn {
    width: 100%;
}
.commandfilebtn-div {
    width: 30%;
}
.commandfilebtn {
    width: 100%;
}
.pluschannel:hover {
    cursor: pointer;
}
.mt-10 {
    margin-top: 10px;
}
.permission_member_add_btn {
    font-size: 11px;
    height: 27px;
    width: 100%;
}