<div id="pScrollbar2" class="main-menu menu-fixed menu-accordion">
    <div class="main-menu-content">
        <div class="p-2"></div>
        <div class="snav-space-header d-flex align-items-center">
            <div class="snav-minimal">
                <a class="snav-icobtn-m" title="Close sidebar">
                    <svg xmlns="http://www.w3.org/2000/svg" width="21px" height="21px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                </a>
            </div>
            <div class="snav-extended text-truncate">
                <a href="/">C2M Platform</a>
            </div>
        </div>
        <ul class="navigation navigation-main">
            <li class="nav-item">
                <a href="/company" class="d-flex align-items-center">
                    <i class="fas fa-building"></i>
                    <span class="menu-title text-truncate">Manage Company</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/manage_users" class="d-flex align-items-center">
                    <i class="fas fa-users"></i>
                    <span class="menu-title text-truncate">Manage Users</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/manage_roles" class="d-flex align-items-center">
                    <i class="fas fa-user-tag"></i>
                    <span class="menu-title text-truncate">Manage Roles</span>
                </a>
            </li>                
            <li class="nav-item">
                <a href="/manage_groups" class="d-flex align-items-center">
                    <i class="fas fa-users-cog"></i>
                    <span class="menu-title text-truncate">Manage Group</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/systemusers" class="d-flex align-items-center">
                    <i class="fas fa-chalkboard-teacher"></i>
                    <span class="menu-title text-truncate">System User</span>
                </a>
            </li>
            <li (click)="show()" class="nav-item has-sub" [class.open]="ishidden">
                <a href="#" class="d-flex align-items-center active">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28px" height="28px" viewBox="0 0 28 28" fill="none">
                        <path d="M20.841 2.65519C19.9623 1.77651 18.5377 1.77652 17.659 2.6552L13.5 6.8142V6.25402C13.5 5.01138 12.4926 4.00402 11.25 4.00402H4.25C3.00736 4.00402 2 5.01138 2 6.25402V24.2541C2 25.2206 2.7835 26.0041 3.75 26.0041H21.75C22.9926 26.0041 24 24.9967 24 23.7541V16.75C24 15.5074 22.9926 14.5 21.75 14.5H21.1941L25.349 10.3452C26.2277 9.46648 26.2277 8.04186 25.349 7.16318L20.841 2.65519ZM13.5 10.6941L17.3059 14.5H13.5V10.6941ZM12 14.5H3.5V6.25402C3.5 5.83981 3.83579 5.50402 4.25 5.50402H11.25C11.6642 5.50402 12 5.83981 12 6.25402V14.5ZM3.5 16H12V24.504H4.25C3.83579 24.504 3.5 24.1682 3.5 23.754L3.5 16ZM13.5 24.5041V16H21.75C22.1642 16 22.5 16.3358 22.5 16.75V23.7541C22.5 24.1683 22.1642 24.5041 21.75 24.5041H13.5Z" fill="currentColor" />
                    </svg>
                    <span class="menu-title text-truncate">C2M Apps</span>
                </a>
                <ul class="menu-content collapse">
                    <li class="nav-item">
                        <a href="/manage_apps" class="d-flex align-items-center active">
                            <span class="menu-title text-truncate">Manage Apps</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="d-flex align-items-center">
                            <span class="menu-title text-truncate">Apps</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/workflow" class="d-flex align-items-center">
                            <span class="menu-title text-truncate">Workflow</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/bussinessmodel" class="d-flex align-items-center">
                            <span class="menu-title text-truncate">Bussiness Model</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/roles" class="d-flex align-items-center">
                            <span class="menu-title text-truncate">Roles</span>
                        </a>
                    </li>
                </ul>
            </li>                
            <li class="nav-item">
                <a href="/datainterface" class="d-flex align-items-center">
                    <i class="fas fa-server"></i>
                    <span class="menu-title text-truncate">Data Interface</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/dashboards" class="d-flex align-items-center">
                    <i class="fas fa-tachometer-alt"></i>
                    <span class="menu-title text-truncate">Dashboards</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/events" class="d-flex align-items-center">
                    <i class="fas fa-calendar-plus"></i>
                    <span class="menu-title text-truncate">Events</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/logs" class="d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="48px" height="48px" viewBox="0 0 48 48" fill="none">
                        <rect width="48" height="48" fill-opacity="0.01" />
                        <rect x="13" y="10" width="28" height="34" stroke="currentColor" stroke-width="4" stroke-linejoin="round" />
                        <path d="M35 10V4H8C7.44772 4 7 4.44772 7 5V38H13" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M21 22H33" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M21 30H33" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span class="menu-title text-truncate">Logs</span>
                </a>
            </li>
        </ul>
        <div class="p-2"></div>
    </div>
</div>