<div class="mainContent content">
    <h6>Application Information</h6>
    <div class="p-3"></div>
    <form [formGroup]="addAppForm" (ngSubmit)="onSubmit()" class="row gy-3 gx-md-5">
        <div class="col-md-6 col-lg-4">
            <label for="input4" class="form-label">
                Add a Logo
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip" title="Help text to come here"></i>
            </label>
            <input id="logo" type="file" formControlName="logo" class="form-control form-control-sm"
                [ngClass]="{ 'is-invalid': submitted && f.logo.errors }" />
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input1" class="form-label">
                Parent Application*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip" title="Help text to come here"></i>
            </label>
            <select formControlName="patient_application" id="patient_application" class="form-select form-select-sm">
                <option *ngFor="let patient_application_info of patient_application_list" [ngValue]="patient_application_info.id">
                    {{patient_application_info.value}}</option>
            </select>
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input2" class="form-label">
                Application Name*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip" title="Help text to come here"></i>
            </label>
            <input id="application_name" type="text" formControlName="application_name" class="form-control form-control-sm"
                [ngClass]="{ 'is-invalid': submitted && f.application_name.errors }" />
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input2" class="form-label">
                Friendly Name*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip" title="Help text to come here"></i>
            </label>
            <input id="friendly_name" type="text" formControlName="friendly_name" class="form-control form-control-sm"
                [ngClass]="{ 'is-invalid': submitted && f.friendly_name.errors }" />
        </div>

        <div class="col-md-6 col-lg-4">
            <label for="input20" class="form-label">
                Status*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip" title="Help text to come here"></i>
            </label>
            <div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Active</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Inactive</label>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input2" class="form-label">
                Short Description*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip" title="Help text to come here"></i>
            </label>
            <input id="short_description" type="text" formControlName="short_description" class="form-control form-control-sm"
                [ngClass]="{ 'is-invalid': submitted && f.short_description.errors }" />
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input3" class="form-label">
                Enter in a brief description of your application. ( 350 characters left )
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip" title="Help text to come here"></i>
            </label>
            <input id="description" type="text" formControlName="description" class="form-control form-control-sm"
                [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input4" class="form-label">
                Enter tags
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip" title="Help text to come here"></i>
            </label>
            <input id="tags" type="text" formControlName="tags" class="form-control form-control-sm"
                [ngClass]="{ 'is-invalid': submitted && f.tags.errors }" />
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input6" class="form-label">
                Sort Order
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip" title="Help text to come here"></i>
            </label>
            <select formControlName="sort_order" id="sort_order" class="form-select form-select-sm">
                <option *ngFor="let sort_order of sort_order_list" [ngValue]="sort_order.id">
                    {{sort_order.value}}</option>
            </select>
        </div>

        <div class="p-2"></div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4 mb-4">
            <button class="btn btn-link me-md-2" type="button">Cancel</button>
            <button class="btn btn-dark me-md-2" type="button">Back</button>
            <button class="btn btn-primary" type="submit">Save</button>
        </div>

    </form>

    <div class="p-3"></div>

    <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="submitted && isCreatingFailed"
        >
          Failed: {{ errorMessage }}
        </div>
    </div>

</div>