<div class="mainContent content">
    <h6>User Profile</h6>
    <div class="p-3"></div>

    <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()" class="row gy-3 gx-md-5 ">
        <div class="col-md-6 col-lg-4">
            <label for="input1" class="form-label">
                User Name*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <input id="user_name" type="text" formControlName="user_name" class="form-control form-control-sm"
                [ngClass]="{ 'is-invalid': submitted && f.user_name.errors }" />
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input2" class="form-label">
                Password*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <input id="password" type="text" formControlName="password" class="form-control form-control-sm"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input2" class="form-label">
                Confirm Password*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <input id="confirm_password" type="text" formControlName="confirm_password" class="form-control form-control-sm"
                [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" />
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input2" class="form-label">
                First Name*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <input id="first_name" type="text" formControlName="first_name" class="form-control form-control-sm"
                [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }" />
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input3" class="form-label">
                Middle Initials*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <input id="middle_name" type="text" formControlName="middle_name" class="form-control form-control-sm"
                [ngClass]="{ 'is-invalid': submitted && f.middle_name.errors }" />
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input4" class="form-label">
                Last Name*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <input id="last_name" type="text" formControlName="last_name" class="form-control form-control-sm"
                [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }" />
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input6" class="form-label">
                Title*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <input id="title" type="text" formControlName="title" class="form-control form-control-sm"
                [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input5" class="form-label">
                E Mail*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <input id="email" type="email" formControlName="email" class="form-control form-control-sm"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="row">
                <div class="col-4">
                    <label for="input8" class="form-label">Country Code*</label>
                    <select class="form-select form-select-sm" id="input8">
                        <option>+1</option>
                        <option>+2</option>
                        <option>+3</option>
                    </select>
                </div>
                <div class="col-8">
                    <label for="input9" class="form-label">
                        Phone Number*
                        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                            title="Help text to come here"></i>
                    </label>
                    <input id="phone" type="text" formControlName="phone" class="form-control form-control-sm" 
                    [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="row">
                <div class="col-4">
                    <label for="input10" class="form-label">Country Code*</label>
                    <select class="form-select form-select-sm" id="input10">
                        <option>+1</option>
                        <option>+2</option>
                        <option>+3</option>
                    </select>
                </div>
                <div class="col-8">
                    <label for="input11" class="form-label">
                        Mobile Number*
                        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                            title="Help text to come here"></i>
                    </label>
                    <input id="mobile_phone" type="text" formControlName="mobile_phone" class="form-control form-control-sm"
                    [ngClass]="{ 'is-invalid': submitted && f.mobile_phone.errors }" />
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <label for="input13" class="form-label">
                Address Line 1*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <input id="address1" type="text" formControlName="address1" class="form-control form-control-sm"
            [ngClass]="{ 'is-invalid': submitted && f.address1.errors }" />
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input14" class="form-label">
                Country*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <select formControlName="country" id="country" class="form-select form-select-sm">
                <option *ngFor="let country of countries" [ngValue]="country.CountryId">{{country.CountryName}}</option>
            </select>
        </div>

        <div class="col-md-6 col-lg-4">
            <label for="input16" class="form-label">
                State/Province*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <select formControlName="state" id="state" class="form-select form-select-sm">
                <option *ngFor="let state_province of state_province_list" [ngValue]="state_province.id">
                    {{state_province.value}}</option>
            </select>
        </div>

        <div class="col-md-6 col-lg-4">
            <label for="input15" class="form-label">
                City*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <input id="city" type="text" formControlName="city" class="form-control form-control-sm"
                [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input17" class="form-label">
                Zip Code*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <input id="zip_code" type="text" formControlName="zip_code" class="form-control form-control-sm"
                [ngClass]="{ 'is-invalid': submitted && f.zip_code.errors }" />
        </div>

        <div class="col-md-6 col-lg-4">
            <label for="input18" class="form-label">
                Assign Space*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <div class="row">
                <div class="col-4">
                    <input id="assign_space" type="text" formControlName="assign_space"
                        class="form-control form-control-sm"
                        [ngClass]="{ 'is-invalid': submitted && f.assign_space.errors }" />
                </div>
                <div class="col-8">
                    <select formControlName="assign_space" id="assign_space" class="form-select form-select-sm">
                        <option *ngFor="let assign_space_unit of assign_space_unit_list"
                            [ngValue]="assign_space_unit.id">{{assign_space_unit.value}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <label for="input7" class="form-label">
                Company Name*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <select formControlName="company" id="company" class="form-select form-select-sm">
                <option *ngFor="let company of companies" [ngValue]="company.ID">{{company.COMPANYNAME}}</option>
            </select>
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input7" class="form-label">
                Role*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <select class="form-select form-select-sm" id="input7">
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
            </select>
        </div>

        <div class="col-md-6 col-lg-4">
            <label for="input4" class="form-label">
                Add Photo
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <input id="photo" type="file" formControlName="photo" class="form-control form-control-sm"
                [ngClass]="{ 'is-invalid': submitted && f.photo.errors }" />
        </div>

    </form>

    <div class="p-4"></div>
    <label for="input7" class="form-label">
        Email Preferences*
        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
            title="Help text to come here"></i>
    </label>
    <div class="table-responsive">
        <table class="table table-striped align-middle table-sm m-0">
            <thead>
                <tr>
                    <th>
                        <i class="fas fa-filter"></i> Process Name
                    </th>
                    <th>
                        <i class="fas fa-filter"></i> Role Name
                    </th>
                    <th>
                        Process Email
                    </th>
                    <th>
                        OBE Email
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        FM_Workorder_Workflow
                    </td>
                    <td>
                        Work Order Lifecycle Workflow
                    </td>
                    <td class="text-center">
                        <input type="checkbox" />
                    </td>
                    <td class="text-center">
                        <input type="checkbox" />
                    </td>
                </tr>
                <tr>
                    <td>
                        FM_Workorder_Workflow
                    </td>
                    <td>
                        Work Order Lifecycle Workflow
                    </td>
                    <td class="text-center">
                        <input type="checkbox" />
                    </td>
                    <td class="text-center">
                        <input type="checkbox" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="p-4"></div>

    <div class="p-2"></div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4 mb-4">
        <button class="btn btn-link me-md-2" type="button">Cancel</button>
        <button class="btn btn-dark me-md-2" type="button">Back</button>
        <button class="btn btn-primary" type="button">Save</button>
    </div>
</div>