<div class="content">
    <div class="row justify-content-center push">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="block block-rounded mb-0">
          <div class="block-header block-header-default">
            <h3 class="block-title">CREATE ACCOUNT</h3>
            <div class="block-options">
              <a class="btn-block-option js-bs-tooltip-enabled" href="/login" data-bs-toggle="tooltip" data-bs-placement="left" title="Sign In">
                <i class="fa fa-sign-in-alt"></i>
              </a>
            </div>
          </div>
          <div class="block-content">
            <div class="p-sm-3 px-lg-4">
              <h1 class="h2 mb-1">
				        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="70px" height="65px" viewBox="0 0 362.145 339.213" enable-background="new 0 0 362.145 339.213" xml:space="preserve">
                    <g>
                        <g>
                            <path fill="#333333" d="M97.384,269.361c0,3.218-0.794,6.699-2.384,10.445c-1.59,3.747-4.09,7.425-7.499,11.032
                                c-3.411,3.609-7.765,6.54-13.063,8.791c-5.299,2.252-11.473,3.379-18.523,3.379c-5.346,0-10.207-0.506-14.583-1.517
                                c-4.378-1.011-8.352-2.586-11.922-4.724c-3.571-2.137-6.854-4.952-9.849-8.446c-2.673-3.172-4.954-6.723-6.842-10.652
                                c-1.89-3.931-3.307-8.125-4.25-12.584c-0.945-4.458-1.417-9.193-1.417-14.204c0-8.136,1.186-15.421,3.56-21.857
                                c2.373-6.435,5.771-11.938,10.194-16.514c4.423-4.573,9.607-8.056,15.551-10.446c5.944-2.389,12.279-3.585,19.007-3.585
                                c8.201,0,15.504,1.632,21.91,4.896c6.404,3.264,11.311,7.298,14.722,12.101c3.409,4.804,5.114,9.343,5.114,13.618
                                c0,2.344-0.829,4.412-2.488,6.205c-1.659,1.793-3.663,2.689-6.013,2.689c-2.626,0-4.596-0.621-5.91-1.861
                                c-1.313-1.242-2.776-3.379-4.389-6.412c-2.673-5.01-5.818-8.758-9.435-11.24c-3.618-2.482-8.076-3.723-13.374-3.723
                                c-8.432,0-15.148,3.195-20.147,9.584c-5,6.39-7.499,15.469-7.499,27.236c0,7.859,1.106,14.399,3.318,19.616
                                c2.211,5.217,5.344,9.113,9.399,11.687c4.054,2.575,8.8,3.861,14.238,3.861c5.897,0,10.886-1.459,14.964-4.378
                                c4.078-2.919,7.153-7.206,9.227-12.859c0.875-2.666,1.958-4.838,3.249-6.516c1.29-1.678,3.363-2.517,6.221-2.517
                                c2.441,0,4.538,0.851,6.29,2.551C96.508,264.718,97.384,266.833,97.384,269.361z">
                            </path>
                        </g>
                        <g>
                            <path fill="#333333" d="M289.415,286.046l-16.242-64.4v69.778c0,3.861-0.864,6.758-2.593,8.688
                                c-1.727,1.931-4.02,2.896-6.877,2.896c-2.764,0-5.021-0.954-6.772-2.861c-1.752-1.907-2.626-4.814-2.626-8.723v-79.982
                                c0-4.413,1.15-7.389,3.455-8.929c2.304-1.54,5.414-2.311,9.33-2.311h6.359c3.824,0,6.601,0.345,8.328,1.034
                                c1.729,0.689,3.007,1.931,3.836,3.724c0.83,1.793,1.773,4.713,2.834,8.757l14.722,55.367l14.722-55.367
                                c1.059-4.044,2.004-6.964,2.834-8.757c0.829-1.793,2.107-3.034,3.836-3.724c1.728-0.689,4.503-1.034,8.328-1.034h6.358
                                c3.916,0,7.026,0.771,9.331,2.311c2.303,1.54,3.455,4.516,3.455,8.929v79.982c0,3.861-0.863,6.758-2.592,8.688
                                c-1.728,1.931-4.043,2.896-6.945,2.896c-2.72,0-4.954-0.965-6.705-2.896c-1.752-1.931-2.626-4.827-2.626-8.688v-69.778
                                l-16.242,64.4c-1.061,4.184-1.925,7.252-2.592,9.205c-0.669,1.954-1.901,3.735-3.698,5.344s-4.285,2.413-7.464,2.413
                                c-2.396,0-4.423-0.517-6.083-1.551c-1.658-1.035-2.949-2.355-3.869-3.965c-0.923-1.608-1.648-3.39-2.178-5.344
                                C290.509,290.196,289.968,288.162,289.415,286.046z">
                            </path>
                        </g>
                        <g>
                            <path fill="#EA593C" d="M156.034,285.772h57.527c5.73,0,10.102,1.173,13.115,3.518c3.012,2.347,4.518,5.535,4.518,9.565
                                c0,3.592-1.194,6.635-3.581,9.125c-2.389,2.493-6.007,3.738-10.855,3.738h-81.111c-5.51,0-9.809-1.521-12.894-4.563
                                c-3.086-3.041-4.629-6.614-4.629-10.72c0-2.639,0.992-6.138,2.976-10.499c1.984-4.36,4.15-7.787,6.502-10.28
                                c9.771-10.114,18.587-18.78,26.45-26.001c7.86-7.219,13.481-11.965,16.861-14.238c6.023-4.25,11.038-8.52,15.043-12.808
                                c4.003-4.288,7.053-8.686,9.147-13.193c2.094-4.507,3.141-8.923,3.141-13.248c0-4.689-1.121-8.886-3.361-12.589
                                c-2.242-3.699-5.29-6.577-9.147-8.63c-3.857-2.052-8.064-3.079-12.619-3.079c-9.626,0-17.192,4.217-22.703,12.645
                                c-0.735,1.1-1.966,4.105-3.691,9.015c-1.728,4.911-3.675,8.686-5.841,11.324c-2.168,2.639-5.345,3.958-9.533,3.958
        
                                c-3.674,0-6.722-1.209-9.147-3.628c-2.424-2.419-3.637-5.718-3.637-9.896c0-5.057,1.138-10.334,3.417-15.831
                                c2.276-5.497,5.675-10.481,10.194-14.953c4.519-4.47,10.249-8.081,17.192-10.829s15.08-4.123,24.411-4.123
                                c11.241,0,20.829,1.759,28.764,5.277c5.142,2.347,9.661,5.571,13.555,9.675c3.894,4.106,6.924,8.85,9.092,14.238
                                c2.166,5.388,3.252,10.978,3.252,16.767c0,9.089-2.26,17.354-6.778,24.791c-4.519,7.441-9.13,13.268-13.831,17.481
                                c-4.703,4.216-12.583,10.829-23.639,19.845c-11.059,9.016-18.644,16.016-22.757,20.999
                                C159.67,280.605,157.87,282.987,156.034,285.772z">
                            </path>
                        </g>
                        <g id="Path_47_">
                            <g>
                                <path fill-rule="evenodd" clip-rule="evenodd" fill="#EB583B" d="M191.4,81.548c-9.873,0-17.872,7.987-17.872,17.813
                                    c0,9.866,7.999,17.813,17.872,17.813c28.223,0,51.178,22.912,51.178,51.088c0,9.831,8.008,17.813,17.861,17.813
                                    c9.865,0,17.857-7.982,17.857-17.813C278.297,120.444,239.307,81.548,191.4,81.548z">
                                </path>
                            </g>
                        </g>
                        <g id="Path_45_">
                            <g>
                                <path fill-rule="evenodd" clip-rule="evenodd" fill="#EB583B" d="M196.296,20c-9.852,0-17.872,7.948-17.872,17.818
                                    c0,9.832,8.021,17.809,17.872,17.809c59.559,0,108.012,48.341,108.012,107.732c0,9.846,7.955,17.818,17.828,17.818
                                    c9.854,0,17.861-7.973,17.861-17.818C339.998,84.295,275.533,20,196.296,20z">
                                </path>
                            </g>
                        </g>
                    </g>
                </svg>
              </h1>
              <p class="fw-medium">
                Please fill the following details to create a new account.
              </p>
              <form
                *ngIf="!isSuccessful"
                name="form"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate
              >
                <div class="py-2">
                    <div class="mb-3 form-group">
                        <input
                          type="text"
                          class="form-control form-control-md form-control-alt"
                          id="signup-username"
                          name="username"
                          placeholder="Username"
                          [(ngModel)]="form.username"
                          required
                          minlength="3"
                          maxlength="20"
                          #username="ngModel"
                        />
                        <div class="alert-danger" *ngIf="username.errors && f.submitted">
                            <div *ngIf="username.errors.required">Username is required</div>
                            <div *ngIf="username.errors.minlength">
                                Username must be at least 3 characters
                            </div>
                            <div *ngIf="username.errors.maxlength">
                                Username must be at most 20 characters
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 form-group">
                        <input
                            type="email"
                            class="form-control form-control-md form-control-alt"
                            name="email"
                            id="signup-email"
                            placeholder="Email"
                            [(ngModel)]="form.email"
                            required
                            email
                            #email="ngModel"
                        />
                        <div class="alert-danger" *ngIf="email.errors && f.submitted">
                            <div *ngIf="email.errors.required">
                                Email is required
                            </div>
                            <div *ngIf="email.errors.email">
                                Email must be a valid email address
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 form-group">
                        <input
                            type="password"
                            id="signup-password"
                            class="form-control form-control-md form-control-alt"
                            name="password"
                            [(ngModel)]="form.password"
                            required
                            minlength="6"
                            #password="ngModel"
                            placeholder="Password"
                        />
                    </div>
                    <div class="mb-3 form-group">
                      <input type="password" class="form-control form-control-md form-control-alt" id="signup-password-confirm" name="signup-password-confirm" placeholder="Confirm Password">
                    </div>
                    <div class="mb-3">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="signup-terms" name="signup-terms">
                        <label class="form-check-label" for="signup-terms">I agree to Terms &amp; Conditions</label>
                      </div>
                    </div>
                </div>
                <div class="row mb-3">
                  <div class="col-12">
                    <button type="submit" class="btn w-100 btn-primary">
                      <i class="fa fa-fw fa-plus me-1 opacity-50"></i> Sign Up
                    </button>
                  </div>
                </div>
              </form>
              <div class="alert alert-success" *ngIf="isSuccessful">
                Your registration is successful!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fs-sm text-muted text-center">
      <strong>C2M</strong> © <span data-toggle="year-copy" class="js-year-copy-enabled">2021</span>
    </div>
</div>