<div class="mainContent content">

    <h6>Events</h6>
    <div class="p-1"></div>

    <div class="gridActionsGroup mb-2">
        <div class="actionsWrap">
            <a [routerLink]="['/events/addEvent']" data-bs-toggle="modal"><i class="fas fa-plus-circle"></i> Events</a>
            <a href="#"><i class="fas fa-check-circle"></i> Apply to all Devices</a>
            <a href="#"><i class="fas fa-file-excel"></i> Excel</a>
            <a href="#"><i class="fas fa-file-pdf"></i> PDF</a>
            <a href="#"><i class="fas fa-print"></i> Print</a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped align-middle table-sm m-0">
            <thead>
                <tr>
                    <th width="60" class="text-center">
                        <input type="checkbox" />
                    </th>
                    <th width="80">
                        Action
                    </th>
                    <th>
                        <i class="fas fa-filter"></i> Event Name
                    </th>
                    <th>
                        <i class="fas fa-filter"></i> Actions
                    </th>
                    <th>
                        <i class="fas fa-filter"></i> Description
                    </th>
                    <th>
                        <i class="fas fa-filter"></i> Created By
                    </th>
                    <th>
                        <i class="fas fa-filter"></i> Created On
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of dataSource; let i = index">
                    <td class="text-center">
                        <input type="checkbox" />
                    </td>
                    <td class="text-center">
                        <div class="action-btns">
                            <a [routerLink]="['/events/editEvent/', data.eventid]" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            <a href="javascript:void(0)" title="Delete"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </td>
                    <td>
                        {{data.eventname}}
                    </td>
                    <td>
                    </td>
                    <td>
                        {{data.eventtitle}}
                    </td>
                    <td>
                    </td>
                    <td>
                        {{data.CreatedDate}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="mt-4 mb-4 justify-content-end" style="display:flex;">
        <div class="paginationWrap">
            <span>Go to Page: <input type="text" class="form-control form-control-sm" value="1" /></span>
            <span>Show Rows:
                <select class="form-select form-select-sm">
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                </select>
            </span>
            <span>
                1-10 of 53 <a href="#" class="p-1"><i class="fas fa-chevron-left"></i></a><a href="#" class="p-1"><i
                        class="fas fa-chevron-right"></i></a>
            </span>
        </div>
    </div>

</div>