<div class="mainContent content">
    <h6>User Profile</h6>
    <div class="p-3"></div>

    <form class="row gy-3 gx-md-5 ">
        <div class="col-md-6 col-lg-4">
            <label for="input1" class="form-label">
                User Name*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <input type="text" class="form-control form-control-sm" id="input1" value="fleetc2m" disabled>
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input2" class="form-label">
                Password*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <input type="text" class="form-control form-control-sm" id="input2" value="Password">
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input2" class="form-label">
                Confirm Password*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <input type="text" class="form-control form-control-sm" id="input2" value="Confirm Password">
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input2" class="form-label">
                First Name*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <input type="text" class="form-control form-control-sm" id="input2" value="Fleet">
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input3" class="form-label">
                Middle Initials*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <input type="text" class="form-control form-control-sm" id="input3">
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input4" class="form-label">
                Last Name*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <input type="text" class="form-control form-control-sm" id="input4" value="">
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input6" class="form-label">
                Title*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <input type="text" class="form-control form-control-sm" id="input6">
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input5" class="form-label">
                E Mail*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <input type="text" class="form-control form-control-sm" id="input5" value="">
        </div>


        <div class="col-md-6 col-lg-4">
            <div class="row">
                <div class="col-4">
                    <label for="input8" class="form-label">Country Code*</label>
                    <select class="form-select form-select-sm" id="input8">
                        <option>+1</option>
                        <option>+2</option>
                        <option>+3</option>
                    </select>
                </div>
                <div class="col-8">
                    <label for="input9" class="form-label">
                        Phone Number*
                        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                            title="Help text to come here"></i>
                    </label>
                    <input type="text" class="form-control form-control-sm" id="input9" value="">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="row">
                <div class="col-4">
                    <label for="input10" class="form-label">Country Code*</label>
                    <select class="form-select form-select-sm" id="input10">
                        <option>+1</option>
                        <option>+2</option>
                        <option>+3</option>
                    </select>
                </div>
                <div class="col-8">
                    <label for="input11" class="form-label">
                        Mobile Number*
                        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                            title="Help text to come here"></i>
                    </label>
                    <input type="text" class="form-control form-control-sm" id="input11" value="">
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <label for="input13" class="form-label">
                Address Line 1*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <input type="text" class="form-control form-control-sm" id="input13" value="">
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input14" class="form-label">
                Country*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <select class="form-select form-select-sm" id="input14">
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
            </select>
        </div>

        <div class="col-md-6 col-lg-4">
            <label for="input16" class="form-label">
                State/Province*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <select class="form-select form-select-sm" id="input16">
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
            </select>
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input15" class="form-label">
                City*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <input type="text" class="form-control form-control-sm" id="input15" value="">
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input17" class="form-label">
                Zip Code*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <input type="text" class="form-control form-control-sm" id="input17" value="">
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input18" class="form-label">
                Assign Space*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <div class="row">
                <div class="col-4">
                    <input type="text" class="form-control form-control-sm" id="input18" value="">
                </div>
                <div class="col-8">
                    <select class="form-select form-select-sm" id="input18">
                        <option>MB</option>
                        <option>GB</option>
                        <option>TB</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input7" class="form-label">
                Company Name*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <select class="form-select form-select-sm" id="input7">
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
            </select>
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="input7" class="form-label">
                Role*
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <select class="form-select form-select-sm" id="input7">
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
            </select>
        </div>

        <div class="col-md-6 col-lg-4">
            <label for="input4" class="form-label">
                Add Photo
                <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
                    title="Help text to come here"></i>
            </label>
            <input type="file" class="form-control form-control-sm" id="input4" value="">
        </div>

    </form>

    <div class="p-4"></div>
    <label for="input7" class="form-label">
        Email Preferences*
        <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"
            title="Help text to come here"></i>
    </label>
    <div class="table-responsive">
        <table class="table table-striped align-middle table-sm m-0">
            <thead>
                <tr>
                    <th>
                        <i class="fas fa-filter"></i> Process Name
                    </th>
                    <th>
                        <i class="fas fa-filter"></i> Role Name
                    </th>
                    <th>
                        Process Email
                    </th>
                    <th>
                        OBE Email
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        FM_Workorder_Workflow
                    </td>
                    <td>
                        Work Order Lifecycle Workflow
                    </td>
                    <td class="text-center">
                        <input type="checkbox" />
                    </td>
                    <td class="text-center">
                        <input type="checkbox" />
                    </td>
                </tr>
                <tr>
                    <td>
                        FM_Workorder_Workflow
                    </td>
                    <td>
                        Work Order Lifecycle Workflow
                    </td>
                    <td class="text-center">
                        <input type="checkbox" />
                    </td>
                    <td class="text-center">
                        <input type="checkbox" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="p-4"></div>

    <div class="p-2"></div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4 mb-4">
        <button class="btn btn-link me-md-2" type="button">Cancel</button>
        <button class="btn btn-dark me-md-2" type="button">Back</button>
        <button class="btn btn-primary" type="button">Save</button>
    </div>
</div>