<div class="content p-4">

	<div class="appsWrap">
        <h6 class="m-0">C2M Admin Apps</h6>
        <ul class="appList">
            <li>
                <div class="icon_wrap">
                    <a href="javascript:void(0)" class="image_wrap">
                    	<img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                    </a>
                </div>
                <div>
                    <span class="AppTitle"> Manage Announcement </span>
                </div>
            </li>
            <li>
                <div class="icon_wrap">
                    <a href="javascript:void(0)" class="image_wrap">
                    	<img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                    </a>
                </div>
                <div>
                    <span class="AppTitle"> Manage User </span>
                </div>
            </li>
            <li>
                <div class="icon_wrap">
                    <a href="javascript:void(0)" class="image_wrap">
                    	<img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                    </a>
                </div>
                <div>
                    <span class="AppTitle"> Manage Role </span>
                </div>
            </li>
            <li>
                <div class="icon_wrap">
                    <a href="javascript:void(0)" class="image_wrap">
                    	<img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                    </a>
                </div>
                <div>
                    <span class="AppTitle"> Quick Mind </span>
                </div>
            </li>
        </ul>
        
        <div class="p-4"></div>
        
        <h6 class="m-0">Products and Pricing</h6>
        <ul class="appList">
            <li>
                <div class="icon_wrap">
                    <a href="javascript:void(0)" class="image_wrap">
                    <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                    </a>
                </div>
                <div>
                    <span class="AppTitle"> Programs </span>
                </div>
            </li>
            <li>
                <div class="icon_wrap">
                    <a href="javascript:void(0)" class="image_wrap">
                    <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                    </a>
                </div>
                <div>
                    <span class="AppTitle"> Products </span>
                </div>
            </li>
            <li>
                <div class="icon_wrap">
                    <a href="javascript:void(0)" class="image_wrap">
                    <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                    </a>
                </div>
                <div>
                    <span class="AppTitle"> Product Actions </span>
                </div>
            </li>
            <li>
                <div class="icon_wrap">
                    <a href="javascript:void(0)" class="image_wrap">
                    <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                    </a>
                </div>
                <div>
                    <span class="AppTitle"> Incentives </span>
                </div>
            </li>
            <li>
                <div class="icon_wrap">
                    <a href="javascript:void(0)" class="image_wrap">
                    <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                    </a>
                </div>
                <div>
                    <span class="AppTitle"> Distributor Cost Assignment </span>
                </div>
            </li>
            <li>
                <div class="icon_wrap">
                    <a href="javascript:void(0)" class="image_wrap">
                    <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                    </a>
                </div>
                <div>
                    <span class="AppTitle"> Product Cross Reference </span>
                </div>
            </li>
            <li>
                <div class="icon_wrap">
                    <a href="javascript:void(0)" class="image_wrap">
                    <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                    </a>
                </div>
                <div>
                    <span class="AppTitle"> Margins </span>
                </div>
            </li>
        </ul>
        
        <div class="p-4"></div>
        
        <h6 class="m-0">NovusAg Business Apps</h6>
        <ul class="appList">
            <li>
                <div class="icon_wrap">
                    <a href="javascript:void(0)" class="image_wrap">
                    <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                    </a>
                </div>
                <div>
                    <span class="AppTitle"> Contracts </span>
                </div>
            </li>
            <li>
                <div class="icon_wrap">
                    <a href="javascript:void(0)" class="image_wrap">
                    <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                    </a>
                </div>
                <div>
                    <span class="AppTitle"> Pricing Manager </span>
                </div>
            </li>
            <li>
                <div class="icon_wrap">
                    <a href="javascript:void(0)" class="image_wrap">
                    <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                    </a>
                </div>
                <div>
                    <span class="AppTitle"> Booking Details </span>
                </div>
            </li>
            <li>
                <div class="icon_wrap">
                    <a href="javascript:void(0)" class="image_wrap">
                    <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                    </a>
                </div>
                <div>
                    <span class="AppTitle"> Release Manager </span>
                </div>
            </li>
            <li>
                <div class="icon_wrap">
                    <a href="javascript:void(0)" class="image_wrap">
                    <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                    </a>
                </div>
                <div>
                    <span class="AppTitle"> Fertilizer Requests </span>
                </div>
            </li>
            <li>
                <div class="icon_wrap">
                    <a href="javascript:void(0)" class="image_wrap">
                    <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                    </a>
                </div>
                <div>
                    <span class="AppTitle"> Inventory </span>
                </div>
            </li>
            <li>
                <div class="icon_wrap">
                    <a href="javascript:void(0)" class="image_wrap">
                    <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                    </a>
                </div>
                <div>
                    <span class="AppTitle"> Customer Credit Limit Manager </span>
                </div>
            </li>
            <li>
                <div class="icon_wrap">
                    <a href="javascript:void(0)" class="image_wrap">
                    <img src="https://NASstaging2-media.c2m.net/c2m/web/UserResource/App-834/AppLogo/cropped/d2222ad1-f018-4dc1-a5d9-b75cc00efcc7.png">
                    </a>
                </div>
                <div>
                    <span class="AppTitle"> Vendor Credit Limit Manager </span>
                </div>
            </li>
        </ul>
	</div>
    
    <div class="p-5"></div>
    
    <div class="stepsIndicator mb-2">
    	<ul>
        	<li class="stepDone">First Step</li>
            <li class="stepOn">Second Step</li>
            <li>Third Step</li>
            <li>Fourth Step</li>
            <li>Fifth Step</li>
        </ul>
    </div>
    
    <div class="p-2"></div>
    
    <div class="gridActionsGroup mb-2">
    	<div class="actionsWrap">
        	<a href="#addUser" data-bs-toggle="modal"><i class="fas fa-plus-circle"></i> User</a>
            <a href="#"><i class="fas fa-exchange-alt"></i> Status</a>
            <a href="#"><i class="fas fa-file-excel"></i> Excel</a>
            <a href="#"><i class="fas fa-file-pdf"></i> PDF</a>
            <a href="#"><i class="fas fa-print"></i> Print</a>
        </div>
    </div>
    
    <div class="table-responsive">
    	<table class="table table-striped align-middle table-sm m-0">
    		<thead>
            	<tr>
                	<th class="text-center">
                    	<input type="checkbox" />
                    </th>
                    <th>
                    	Action
                    </th>
                    <th>
                    	<i class="fas fa-filter"></i> User Name
                    </th>
                    <th>
                    	<i class="fas fa-filter"></i> First Name
                    </th>
                    <th>
                    	<i class="fas fa-filter"></i> Last Name
                    </th>
                    <th>
                    	<i class="fas fa-filter"></i> Email Address
                    </th>
                    <th>
                    	<i class="fas fa-filter"></i> Phone
                    </th>
                    <th>
                    	<i class="fas fa-filter"></i> Status
                    </th>
                    <th>
                    	<i class="fas fa-filter"></i> Created On
                    </th>
                    <th>
                    	<i class="fas fa-filter"></i> Modified On
                    </th>
                </tr>
            </thead>
            <tbody>
            	<tr>
                	<td class="text-center">
                    	<input type="checkbox" />
                    </td>
                	<td class="text-center">
                    	<div class="action-btns">
                        	<a href="javascript:void(0)" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            <a href="javascript:void(0)" title="Delete"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </td>
                	<td>
                    	vivek@plasmacomp.com
                    </td>
                	<td>
                    	Vivek
                    </td>
                	<td>
                    	Aggarwal
                    </td>
                	<td>
                    	vivek@plasmacomp.com
                    </td>
                	<td>
                    	1234567809
                    </td>
                	<td>
                    	Active
                    </td>
                	<td>
                    	15/12/2020
                    </td>
                	<td>
                    	20/05/2021
                    </td>
                </tr>
                <tr>
                	<td class="text-center">
                    	<input type="checkbox" />
                    </td>
                	<td class="text-center">
                    	<div class="action-btns">
                        	<a href="javascript:void(0)" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            <a href="javascript:void(0)" title="Delete"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </td>
                	<td>
                    	vivek@plasmacomp.com
                    </td>
                	<td>
                    	Vivek
                    </td>
                	<td>
                    	Aggarwal
                    </td>
                	<td>
                    	vivek@plasmacomp.com
                    </td>
                	<td>
                    	1234567809
                    </td>
                	<td>
                    	Active
                    </td>
                	<td>
                    	15/12/2020
                    </td>
                	<td>
                    	20/05/2021
                    </td>
                </tr>
                <tr>
                	<td class="text-center">
                    	<input type="checkbox" />
                    </td>
                	<td class="text-center">
                    	<div class="action-btns">
                        	<a href="javascript:void(0)" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            <a href="javascript:void(0)" title="Delete"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </td>
                	<td>
                    	vivek@plasmacomp.com
                    </td>
                	<td>
                    	Vivek
                    </td>
                	<td>
                    	Aggarwal
                    </td>
                	<td>
                    	vivek@plasmacomp.com
                    </td>
                	<td>
                    	1234567809
                    </td>
                	<td>
                    	Active
                    </td>
                	<td>
                    	15/12/2020
                    </td>
                	<td>
                    	20/05/2021
                    </td>
                </tr>
                <tr>
                	<td class="text-center">
                    	<input type="checkbox" />
                    </td>
                	<td class="text-center">
                    	<div class="action-btns">
                        	<a href="javascript:void(0)" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            <a href="javascript:void(0)" title="Delete"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </td>
                	<td>
                    	vivek@plasmacomp.com
                    </td>
                	<td>
                    	Vivek
                    </td>
                	<td>
                    	Aggarwal
                    </td>
                	<td>
                    	vivek@plasmacomp.com
                    </td>
                	<td>
                    	1234567809
                    </td>
                	<td>
                    	Active
                    </td>
                	<td>
                    	15/12/2020
                    </td>
                	<td>
                    	20/05/2021
                    </td>
                </tr>
                <tr>
                	<td class="text-center">
                    	<input type="checkbox" />
                    </td>
                	<td class="text-center">
                    	<div class="action-btns">
                        	<a href="javascript:void(0)" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            <a href="javascript:void(0)" title="Delete"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </td>
                	<td>
                    	vivek@plasmacomp.com
                    </td>
                	<td>
                    	Vivek
                    </td>
                	<td>
                    	Aggarwal
                    </td>
                	<td>
                    	vivek@plasmacomp.com
                    </td>
                	<td>
                    	1234567809
                    </td>
                	<td>
                    	Active
                    </td>
                	<td>
                    	15/12/2020
                    </td>
                	<td>
                    	20/05/2021
                    </td>
                </tr>
                <tr>
                	<td class="text-center">
                    	<input type="checkbox" />
                    </td>
                	<td class="text-center">
                    	<div class="action-btns">
                        	<a href="javascript:void(0)" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            <a href="javascript:void(0)" title="Delete"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </td>
                	<td>
                    	vivek@plasmacomp.com
                    </td>
                	<td>
                    	Vivek
                    </td>
                	<td>
                    	Aggarwal
                    </td>
                	<td>
                    	vivek@plasmacomp.com
                    </td>
                	<td>
                    	1234567809
                    </td>
                	<td>
                    	Active
                    </td>
                	<td>
                    	15/12/2020
                    </td>
                	<td>
                    	20/05/2021
                    </td>
                </tr>
                <tr>
                	<td class="text-center">
                    	<input type="checkbox" />
                    </td>
                	<td class="text-center">
                    	<div class="action-btns">
                        	<a href="javascript:void(0)" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            <a href="javascript:void(0)" title="Delete"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </td>
                	<td>
                    	vivek@plasmacomp.com
                    </td>
                	<td>
                    	Vivek
                    </td>
                	<td>
                    	Aggarwal
                    </td>
                	<td>
                    	vivek@plasmacomp.com
                    </td>
                	<td>
                    	1234567809
                    </td>
                	<td>
                    	Active
                    </td>
                	<td>
                    	15/12/2020
                    </td>
                	<td>
                    	20/05/2021
                    </td>
                </tr>
                <tr>
                	<td class="text-center">
                    	<input type="checkbox" />
                    </td>
                	<td class="text-center">
                    	<div class="action-btns">
                        	<a href="javascript:void(0)" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            <a href="javascript:void(0)" title="Delete"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </td>
                	<td>
                    	vivek@plasmacomp.com
                    </td>
                	<td>
                    	Vivek
                    </td>
                	<td>
                    	Aggarwal
                    </td>
                	<td>
                    	vivek@plasmacomp.com
                    </td>
                	<td>
                    	1234567809
                    </td>
                	<td>
                    	Active
                    </td>
                	<td>
                    	15/12/2020
                    </td>
                	<td>
                    	20/05/2021
                    </td>
                </tr>
                <tr>
                	<td class="text-center">
                    	<input type="checkbox" />
                    </td>
                	<td class="text-center">
                    	<div class="action-btns">
                        	<a href="javascript:void(0)" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            <a href="javascript:void(0)" title="Delete"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </td>
                	<td>
                    	vivek@plasmacomp.com
                    </td>
                	<td>
                    	Vivek
                    </td>
                	<td>
                    	Aggarwal
                    </td>
                	<td>
                    	vivek@plasmacomp.com
                    </td>
                	<td>
                    	1234567809
                    </td>
                	<td>
                    	Active
                    </td>
                	<td>
                    	15/12/2020
                    </td>
                	<td>
                    	20/05/2021
                    </td>
                </tr>
                <tr>
                	<td class="text-center">
                    	<input type="checkbox" />
                    </td>
                	<td class="text-center">
                    	<div class="action-btns">
                        	<a href="javascript:void(0)" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            <a href="javascript:void(0)" title="Delete"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </td>
                	<td>
                    	vivek@plasmacomp.com
                    </td>
                	<td>
                    	Vivek
                    </td>
                	<td>
                    	Aggarwal
                    </td>
                	<td>
                    	vivek@plasmacomp.com
                    </td>
                	<td>
                    	1234567809
                    </td>
                	<td>
                    	Active
                    </td>
                	<td>
                    	15/12/2020
                    </td>
                	<td>
                    	20/05/2021
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4 mb-4">
      <button class="btn btn-link me-md-2" type="button">Cancel</button>
      <button class="btn btn-dark me-md-2" type="button">Back</button>
      <button class="btn btn-primary" type="button">Next</button>
    </div>
    <div class="mt-4 mb-4 justify-content-end" style="display:flex;">
    	<div class="paginationWrap">
        	<span>Go to Page: <input type="text" class="form-control form-control-sm" value="1" /></span>
            <span>Show Rows: 
            	<select class="form-select form-select-sm"><option>10</option><option>20</option><option>30</option><option>40</option><option>50</option></select>
            </span>
            <span>
            	1-10 of 53 <a href="#" class="p-1"><i class="fas fa-chevron-left"></i></a><a href="#" class="p-1"><i class="fas fa-chevron-right"></i></a>
            </span>
        </div>
    </div>
    
    <div class="p-5"></div>
    
    <form class="row gy-3 gx-md-5 ">
        <div class="col-md-6 col-lg-4">
        	<label for="input1" class="form-label">User Name* 
            <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"  title="Help text to come here"></i></label>
        	<input type="text" class="form-control form-control-sm" id="input1" value="fleetc2m" disabled>
        </div>
        <div class="col-md-6 col-lg-4">
        	<label for="input2" class="form-label">First Name* 
            <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"  title="Help text to come here"></i></label>
        	<input type="text" class="form-control form-control-sm" id="input2" value="Fleet">
        </div>
        <div class="col-md-6 col-lg-4">
        	<label for="input3" class="form-label">Middle Initials* 
            <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"  title="Help text to come here"></i></label>
        	<input type="text" class="form-control form-control-sm" id="input3">
        </div>
        <div class="col-md-6 col-lg-4">
        	<label for="input4" class="form-label">Last Name* 
            <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"  title="Help text to come here"></i></label>
        	<input type="text" class="form-control form-control-sm" id="input4" value="">
        </div>
        <div class="col-md-6 col-lg-4">
        	<label for="input5" class="form-label">E Mail* 
            <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"  title="Help text to come here"></i></label>
        	<input type="text" class="form-control form-control-sm" id="input5" value="">
        </div>
        <div class="col-md-6 col-lg-4">
        	<label for="input6" class="form-label">Title* 
            <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"  title="Help text to come here"></i></label>
        	<input type="text" class="form-control form-control-sm" id="input6">
        </div>
        <div class="col-md-6 col-lg-4">
        	<label for="input7" class="form-label">Role* 
            <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"  title="Help text to come here"></i></label>
        	<select class="form-select form-select-sm" id="input7">
            	<option>Option 1</option><option>Option 2</option><option>Option 3</option><option>Option 4</option>
            </select>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="row">
                <div class="col-4">
                	<label for="input8" class="form-label">Country Code*</label>
                    <select class="form-select form-select-sm" id="input8">
                        <option>+1</option><option>+2</option><option>+3</option>
                    </select>
                </div>
                <div class="col-8">
                	<label for="input9" class="form-label">Phone Number* 
            		<i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"  title="Help text to come here"></i></label>
                    <input type="text" class="form-control form-control-sm" id="input9" value="">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="row">
                <div class="col-4">
                	<label for="input10" class="form-label">Country Code*</label>
                    <select class="form-select form-select-sm" id="input10">
                        <option>+1</option><option>+2</option><option>+3</option>
                    </select>
                </div>
                <div class="col-8">
                	<label for="input11" class="form-label">Mobile Number* 
            		<i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"  title="Help text to come here"></i></label>
                    <input type="text" class="form-control form-control-sm" id="input11" value="">
                </div>
            </div>
        </div>        
        <div class="col-md-6 col-lg-4">
        	<label for="input12" class="form-label">Address Line 1* 
            <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"  title="Help text to come here"></i></label>
        	<input type="text" class="form-control form-control-sm" id="input12" value="">
        </div>
        <div class="col-md-6 col-lg-4">
        	<label for="input13" class="form-label">Address Line 1* 
            <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"  title="Help text to come here"></i></label>
        	<input type="text" class="form-control form-control-sm" id="input13" value="">
        </div>
        <div class="col-md-6 col-lg-4">
        	<label for="input14" class="form-label">Country* 
            <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"  title="Help text to come here"></i></label>
        	<select class="form-select form-select-sm" id="input14">
            	<option>Option 1</option><option>Option 2</option><option>Option 3</option><option>Option 4</option>
            </select>
        </div>
        <div class="col-md-6 col-lg-4">
        	<label for="input15" class="form-label">City* 
            <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"  title="Help text to come here"></i></label>
        	<input type="text" class="form-control form-control-sm" id="input15" value="">
        </div>        
        <div class="col-md-6 col-lg-4">
        	<label for="input16" class="form-label">State/Province* 
            <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"  title="Help text to come here"></i></label>
        	<select class="form-select form-select-sm" id="input16">
            	<option>Option 1</option><option>Option 2</option><option>Option 3</option><option>Option 4</option>
            </select>
        </div>
        <div class="col-md-6 col-lg-4">
        	<label for="input17" class="form-label">Zip Code* 
            <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"  title="Help text to come here"></i></label>
        	<input type="text" class="form-control form-control-sm" id="input17" value="">
        </div>
        <div class="col-md-6 col-lg-4">
        	<label for="input18" class="form-label">Assign Space* 
            <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"  title="Help text to come here"></i></label>
            <div class="row">
                <div class="col-4">
                    <input type="text" class="form-control form-control-sm" id="input18" value="">
                </div>
                <div class="col-8">
                    <select class="form-select form-select-sm" id="input18">
                        <option>MB</option><option>GB</option><option>TB</option>
                    </select>
                </div>
            </div>
        </div>
	</form>
    
    <div class="p-4"></div>
    
    <div class="table-responsive">
    	<table class="table table-striped align-middle table-sm m-0">
    		<thead>
            	<tr>
                    <th>
                    	<i class="fas fa-filter"></i> Process Name
                    </th>
                    <th>
                    	<i class="fas fa-filter"></i> Role Name
                    </th>
                    <th>
                    	Process Email
                    </th>
                    <th>
                    	OBE Email
                    </th>
                </tr>
            </thead>
            <tbody>
            	<tr>
                	<td>
                    	FM_Workorder_Workflow
                    </td>
                	<td>
                    	Work Order Lifecycle Workflow
                    </td>
                	<td class="text-center">
                    	<input type="checkbox" />
                    </td>
                	<td class="text-center">
                    	<input type="checkbox" />
                    </td>
                </tr>
            	<tr>
                	<td>
                    	FM_Workorder_Workflow
                    </td>
                	<td>
                    	Work Order Lifecycle Workflow
                    </td>
                	<td class="text-center">
                    	<input type="checkbox" />
                    </td>
                	<td class="text-center">
                    	<input type="checkbox" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="p-4"></div>
    
    <form class="row gy-3 gx-md-5 ">
        <div class="col-md-6 col-lg-4">
        	<label for="input20" class="form-label">Out of Office* 
            <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"  title="Help text to come here"></i></label>
        	<div>
            	<div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                  <label class="form-check-label" for="inlineRadio1">I am in the Office</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                  <label class="form-check-label" for="inlineRadio2">I am out of the Office</label>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
        	<label for="input21" class="form-label">Out From* 
            <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"  title="Help text to come here"></i></label>
        	<div class="input-group">
                <input type="text" class="form-control form-control-sm datepicker" value="12-02-2012">
                <div class="input-group-append input-group-text">
                	<i class="far fa-calendar-alt"></i>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
        	<label for="input22" class="form-label">Out Till* 
            <i class="fas fa-question-circle js-bs-tooltip-enabled" data-bs-toggle="tooltip"  title="Help text to come here"></i></label>
            <div class="input-group">
                <input type="text" class="form-control form-control-sm datepicker" value="12-02-2012">
                <div class="input-group-append input-group-text">
                	<i class="far fa-calendar-alt"></i>
                </div>
            </div>
        </div>
    </form>
    
    <div class="p-4"></div>
    
    <div class="table-responsive">
    	<table class="table table-striped align-middle table-sm m-0">
    		<thead>
            	<tr>
                    <th>
                    	<i class="fas fa-filter"></i> My Role(s)
                    </th>
                    <th>
                    	<i class="fas fa-filter"></i> Send Workflow Tasks To
                    </th>
                </tr>
            </thead>
            <tbody>
            	<tr>
                	<td>
                    	Work Orders Admin
                    </td>
                	<td>
                    </td>
                </tr>
            	<tr>
                	<td>
                    	FM_Workorder_Workflow
                    </td>
                	<td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="p-4"></div>
    
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
        	<h2 class="accordion-header" id="headingOne">
        		<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        		Accordion Item #1
        		</button>
        	</h2>
        	<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        		<div class="accordion-body">
        			<strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        		</div>
        	</div>
        </div>
        <div class="accordion-item">
        	<h2 class="accordion-header" id="headingTwo">
        		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        		Accordion Item #2
        		</button>
        	</h2>
        	<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        		<div class="accordion-body">
        			<strong>This is the second item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        		</div>
        	</div>
        </div>
	</div>
</div>