<div class="mainContent content">
    <h6>Manage Users</h6>
    <div class="p-1"></div>
    <div class="p-2"></div>

    <div class="gridActionsGroup mb-2">
        <div class="actionsWrap">
            <a href="adduser.htm"><i class="fas fa-plus-circle"></i> User</a>
            <a href="#"><i class="fas fa-exchange-alt"></i> Status</a>
            <a href="#"><i class="fas fa-file-excel"></i> Excel</a>
            <a href="#"><i class="fas fa-file-pdf"></i> PDF</a>
            <a href="#"><i class="fas fa-print"></i> Print</a>
        </div>
    </div>
</div>